table
            {
                border-collapse: collapse;
            }
            td
            {
                background: black;
                height: 1em
            }
            #div1
            {
                background: black;
                width: 2em;
            }
            #cell
            {
                border-left: 1em solid black;
                border-right: 1em solid black;
            }