.control {
      line-height: 1;
      height: 2em;
      background: red;
    }
    .cover {
      color: green;
      background: green;
    }
    .constraint {
      width: 0;
    }
    .nobr { white-space: nowrap; }