table, div
            {
                font: 1em Ahem;
            }
            table
            {
                background: black;
                border-spacing: 0;
                overflow: hidden;
                table-layout: fixed;
                width: 5em;
            }
            td
            {
                padding: 0;
            }
            div
            {
                background: black;
                margin-top: 10px;
                width: 5em;
            }