span
            {
                font-family: SmallCaps;
            }
            #span1
            {
                font-variant: normal;
            }
            #span2
            {
                font-variant: small-caps;
            }