table
            {
                text-align: center;
            }
            td
            {
                border: 2px solid blue;
                height: 120px;
                text-align: inherit;
                width: 120px;
            }