table { 
      border-collapse:collapse;
      margin-bottom: 1em;
      } 
      tr {
      border-left: 5px solid fuchsia;
      border-right: 5px solid purple;
      }
      td.right {
      background-color: yellow;
      border-left: 5px solid orange;
      }
      td.left {
      background-color: aqua;
      border-left: 5px solid teal;
      }