#reference
            {
                border: solid green 1em;
                margin-top: 2em;
                width: 300px;
            }
            #test
            {
                margin: 1em 0 0 1em;
                outline: solid green;
                outline-width: 1em;
                width: 300px;
            }