#reference
            {
                border: solid green 5pc;
                margin-top: 10pc;
                width: 300px;
            }
            #test
            {
                margin: 5pc 0 0 5pc;
                outline: solid green;
                outline-width: +5pc;
                width: 300px;
            }