#div1
            {
                margin: 1pt 0 0 1pt;
                outline: solid green;
                outline-width: 1pt;
                width: 300px;
            }
            #div2
            {
                border: solid green 1pt;
                margin-top: 10px;
                width: 300px;
            }