#reference
            {
                border: solid green 5cm;
                margin-top: 10cm;
                width: 300px;
            }
            #test
            {
                margin: 5cm 0 0 5cm;
                outline: solid green;
                outline-width: +5cm;
                width: 300px;
            }