#reference
            {
                border: solid green 2in;
                margin-top: 5in;
                width: 300px;
            }
            #test
            {
                margin: 2in 0 0 2in;
                outline: solid green;
                outline-width: 2in;
                width: 300px;
            }