#parent
            {
                margin: 5em 0 0 1em;
                position: relative;
            }
            #abs
            {
                border: 1em solid white;
                position: absolute;
                top: -2em;
                left: -1em;
                height: 4em;
                width: 22em;
            }
            div div
            {
                width: 20em;
            }
            #div1
            {
                margin-left: 1em;
                outline-color: invert;
                outline-style: solid;
                outline-width: 1em;
            }
            #div1 div
            {
                outline-color: orange;
                outline-style: solid;
                outline-width: inherit;
                height: 2em;
            }
            #div2
            {
                border: solid blue 1em;
                margin-top: 3em;
                height: 2em;
            }