div
            {
                counter-increment: ident 5;
            }
            div:before
            {
                font-size: 30px;
                content: counter(ident);
            }
            #none
            {
                counter-increment: none;
            }