div
            {
                counter-increment: ident 10;
            }
            div:before
            {
                font-size: 30px;
                content: counter(ident);
            }