table
            {
                border: 1px solid black;
            }
            #cg1
            {
                background: blue;
            }
            #cg2
            {
                background: purple;
            }
            td
            {
                height: 2em;
                width: 2em;
            }