#div1
            {
                font: 16px/1em Ahem;
            }
            #span1
            {
                white-space: normal;
            }
            #span2
            {
                white-space: nowrap;
            }
            #div2, #div3
            {
                background: black;
                display: inline-block;
                height: 1em;
                width: 1em;
            }
            #div3
            {
                margin-left: 1em;
            }