div
            {
                font-family: Ahem;
                height: 1em;
                margin-bottom: 3px;
                width: 4em;
            }
            #div1
            {
                background: black;
                white-space: nowrap;
            }
            #div2
            {
                background-color: blue;
            }