div
            {
                font: 16px/1em Ahem;
            }
            #div1
            {
                white-space: normal;
            }
            #div2, #div3
            {
                background: black;
                display: inline-block;
                height: 1em;
                width: 2em;
            }
            #div3
            {
                margin-left: 3em;
            }