body
            {
                color: green;
            }
            div
            {
                color: red;
            }
            body div
            {
                color: inherit;
            }