#div1
            {
                border: solid;
                height: 200px;
                width: 200px;
            }
            div div
            {
                background: blue;
                display: inline-block;
                height: 50%;
                width: 100%;
            }