#div1
            {
                height: 200px;
                width: 200px;
            }
            div div
            {
                height: 50px;
                width: 50px;
            }
            #div2
            {
                background: green;
                float: left;
            }
            #div3
            {
                background: red;
                overflow: visible;
            }