#wrapper
            {
                font: 20px/1em Ahem;
            }
            #span2
            {
                margin-left: 212px;
            }
            #test
            {
                word-spacing: 12ex;
            }