#wrapper
            {
                font: 24px/1em Ahem;
            }
            #span2
            {
                margin-left: 120px;
            }
            #test
            {
                word-spacing: 96px;
            }