#wrapper
            {
                font: 12pt/1em Ahem;
            }
            #span2
            {
                margin-left: 84pt;
            }
            #test
            {
                word-spacing: 72pt;
            }