#wrapper
            {
                font: 16px/1em Ahem;
            }
            #span2
            {
                margin-left: 112px;
            }
            #test
            {
                word-spacing: 6em;
            }