#wrapper
            {
                font: 1cm/1em Ahem;
            }
            #span2
            {
                margin-left: 3.54cm;
            }
            #test
            {
                word-spacing: 2.54cm;
            }