#reference
            {
                background: black;
                font: 16px/1em Ahem;
                height: 10em;
                width: 20em;
            }
            table
            {
                border-spacing: 0;
                padding: 0;
            }
            .t1
            {
                height: 4em;
                background: blue;
                color: blue;
            }
            .t2
            {
                height: 5em;
                background: purple;
                color: purple;
            }
            td
            {
                padding: 0;
            }