td
            {
                vertical-align: baseline;
            }
            #small
            {
                font-size: small;
            }
            #large
            {
                font-size: large;
            }