table
            {
                height: 100px;
            }
            td
            {
                border: 1px solid black;
                vertical-align: top;
            }
            #small
            {
                font-size: 10pt;
            }
            #medium
            {
                font-size: 20pt;
            }
            #large
            {
                font-size: 30pt;
            }