table
            {
                height: 100px;
            }
            td
            {
                vertical-align: super;
            }
            #small
            {
                font-size: 10pt;
            }
            #medium
            {
                font-size: 20pt;
            }
            #large
            {
                font-size: 30pt;
            }