table
            {
                border-spacing: 0;
                height: 10em;
            }
            tr
            {
                vertical-align: top;
            }
            td
            {
                border: 1px solid black;
                font-size: 1em;
                padding: 0;
                vertical-align: baseline;
            }
            #larger
            {
                font-size: 3em;
            }
            #middle
            {
                vertical-align: middle;
            }
            #bottom
            {
                vertical-align: bottom;
            }
            #inherit
            {
                vertical-align: inherit;
            }