#wrapper
            {
                height: 78pt;
                border-bottom: 6pt solid red;
            }
            div div
            {
                height: 0;
            }
            #div1
            {
                border-bottom: 6pt solid black;
                margin-bottom: 72pt;
            }
            #div2
            {
                border-top: 6pt solid black;
            }