#wrapper
            {
                height: 1.2in;
                border-bottom: 0.2in solid red;
            }
            #div1
            {
                border-bottom: 0.2in solid black;
                height: 0;
                margin-bottom: 1in;
            }
            #div2
            {
                border-top: 0.2in solid black;
                height: 0;
            }