div
            {
                direction: rtl;
                height: 1in;
                width: 0;
            }
            #div1
            {
                border-right: 1in solid red;
                padding-right: 3in;
            }
            div div
            {
                border-right: 1in solid black;
                margin-right: -4in;
            }