div
            {
                height: 50px;
                width: 0;
            }
            .parent1
            {
                background: red;
                min-width: 3px
            }
            .test1, .test2
            {
                padding-right: 1mm;
            }
            .test1
            {
                background: green;
            }
            .test2
            {
                background: red;
            }
            .child1
            {
                background: green;
                position: relative;
                width: 4px;
            }