div
            {
                direction: rtl;
                height: 1in;
                width: 0;
            }
            #div1
            {
                border-right: 3px solid red;
                padding-right: 1px;
            }
            div div
            {
                border-right: 3px solid black;
                margin-right: -4px;
            }