div
            {
                height: 1in;
                width: 1in;
            }
            #test
            {
                border-bottom-style: solid;
                border-bottom-width: 1in;
                border-bottom-color: rgb(0, 0, 1);
                height: 0;
            }
            #reference
            {
                background-color: rgb(0, 0, 1);
                margin-top: 10px;
            }