body
            {
                border-bottom-color: green;
            }
            div
            {
                border-bottom-style: solid;
                border-bottom-width: 1in;
                border-bottom-color: red;
                border-bottom-color: inherit;
                height: 0;
                width: 1in;
            }