param:before
            {
                content: attr(valuetype);
                color: green;
            }
            param
            {
                border: 2px solid black;
                display: block;
            }