form:before
            {
                content: attr(action);
                color: green;
            }
            form
            {
                border: 2px solid black;
            }