div:before
            {
                counter-increment: test;
                content: counter(test, lower-roman);
            }
            div
            {
                border: 2px solid black;
                height: 30px;
            }