div:before
            {
                content: "FAIL FAIL";
                content: none;
                color: red;
            }
            #div1
            {
                border: 2px solid black;
                height: 30px;
            }