div:before
            {
                content: counters(test, ".", square);
                counter-reset: test;
            }
            #div1
            {
                border: 2px solid black;
            }