div:before
            {
                content: attr(onmousedown);
                color: green;
            }
            div
            {
                border: 2px solid black;
            }