font:before
            {
                content: attr(color);
                color: green;
            }
            font
            {
                border: 2px solid black;
            }