div:before
            {
                content: counters(test, ".", upper-latin);
                counter-increment: test;
                counter-reset: test;
            }
            #div1
            {
                border: 2px solid black;
            }