div:before
            {
                content: attr(onmouseover);
                color: green;
            }
            div
            {
                border: 2px solid black;
            }