div
            {
                position: relative;
            }
            div div
            {
                background: orange;
                height: 15px;
                width: 15px;
            }
            img
            {
                position: absolute;
                left: 0.25in;
                top: 0;
                width: 1in;
            }