#table
            {
                display: table;
            }
            #tr
            {
                display: table-row;
            }
            .td
            {
                border-spacing: 20px;
                display: table-cell;
                height: 100px;
                width: 100px;
            }
            .left
            {
                border: 10px solid blue;
            }
            .right
            {
                border: 10px solid orange;
            }