div {
      margin: 1em;
      font-family: monospace;
      page-break-inside: avoid;
    }
    div p {
      margin: 0;
    }
    .controlcontrol {
      background: orange;
      width: 4em;
    }

    .control span {
      background: blue;
      color: blue;
    }
    .spacer {
      padding-left: 4em;
    }
    .test span {
      word-spacing: 4em;
      background: orange;
      color: orange;
    }
    .ws-pre p {
      white-space: pre;
    }