#test
            {
                border-left-style: solid;
                border-left-width: 1in;
                display: table-row;
            }
            #table
            {
                border-collapse: collapse;
                display: table;
                margin-left: 1in;
                table-layout: fixed;
            }
            #cell
            {
                display: table-cell;
                height: 1in;
            }