#parent, #reference
            {
                display: inline;
            }
            #reference, div div
            {
                font-variant: small-caps;
            }
            div div
            {
                display: inherit;
            }