#reference, #test
            {
                font-variant: small-caps;
            }
            #table
            {
                display: table;
            }
            #test
            {
                display: table-row-group;
            }
            #row
            {
                display: table-row;
            }
            #cell
            {
                display: table-cell;
            }