div {
      border: 5px solid gray; 
      border-color: orange purple teal yellow;
      text-align: left;
      width: 10em;
      margin-bottom: 1em;
      }
      
      .rtol {
      direction: rtl;
      unicode-bidi: normal;
      }
      
      p {text-align: left;}