div {
      width: 20em;
      background: navy;
      color: orange;
      font: 1em/1 Ahem;
      text-align: right;
      margin-bottom: 1em;
      padding-right: 5em;
      }
      
      .rtol {
      direction: rtl;
      unicode-bidi: normal;
      }