div {
      background: navy;
      color: orange;
      font: 1em/1 Ahem;
      text-align: left;
      width: 10em;
      margin-bottom: 1em;
      padding-left: 2em;
      }
      
      .rtol {
      direction: rtl;
      unicode-bidi: embed;
      }