div {
      text-align: left;
      width: 10em;
      margin-left: 2em;
      margin-bottom: 1em;
      background: navy;
      font: 1em/1 Ahem;
      color: orange;
      }

      .rtol {
      direction: rtl;
      unicode-bidi: bidi-override;
      }