div
            {
                display: none;
            }
            div div
            {
                background: red;
                display: block;
                height: 1in;
                width: 1in;
            }