div.outer {
                border: solid silver;
                margin: 0.5em;
                padding: 0.2em;
                color: blue;
            }
            div div {
                width: 4em;
            }
            #reference
            {
                white-space: nowrap;
            }
            #test:before
            {
                content: "This text\A		should be on\A     	one\A         line.";
                white-space: nowrap;
            }