div
            {
                background: green;
                top: 0;
                display: inline;
                position: absolute;
            }
            p
            {
                margin-top: 1.5in;
            }