span
            {
                background: green;
                top: 0;
                display: block;
                height: 1in;
                position: absolute;
                width: 1in;
            }
            p
            {
                margin-top: 1.5in;
            }