div
            {
                background: black;
                width: 3in;
            }
            #span1
            {
                color: white;
                font: 1in/1em Ahem;
            }
            #span2
            {
                background: white;
                display: inline-block;
                height: 1in;
                position: relative;
                top: 0.2em;
                width: 1in;
            }