div
            {
                font: 20px/1em Ahem;
            }
            #span1
            {
                background: blue;
                color: blue;
            }
            #span2
            {
                color: orange;
                display: inline-block;
                margin-bottom: 1em;
                height: 4em;
                overflow: hidden;
                width: 5em;
            }