#test
            {
                display: table-column;
                outline: solid red 10px;
            }
            #row
            {
                display: table-row;
            }
            #table
            {
                display: table;
                table-layout: fixed;
            }
            #cell
            {
                display: table-cell;
                height: 1in;
                width: 1in;
            }