html { margin: 1em; border: 1em solid red; padding: 0; background: green; }
   body { margin: 0; border: 0; padding: 0; background: red; }
   p { margin: -1em; border: 0; padding: 1em; background: white; }