.test
            {
                display: inline-block;
                vertical-align:-100px;
            }
            div:first-line
            {
                background: green;
            }
            span, div:first-line
            {
                color: white;
            }
            div
            {
                color: red;
            }