table { border-collapse: collapse; color: green; }
   col { width: 10em; background: lime; border: 0.5em solid blue; color: red; }
   .container { margin: 1em; }
   .a { visibility: collapse; }
   .fail { background: red; color: yellow; font-weight: bold }