div
            {
                direction: rtl;
                font: 1em/1 Ahem;
                margin-left: 4em;
                position: relative;
                width: 12em;
            }
            div div
            {
                margin: 0;
                position: absolute;
            }
            #test
            {
                color: green;
                text-align: justify;
                white-space: pre;
                
            }
            .red
            {
                color: red;
            }
            .green
            {
                color: green;
            }