body { border: solid lime; background: transparent; }
   html { border: solid blue; background: transparent; }
   p, :link, :visited { color: black; background: white; }
   * { margin: 1em; padding: 1em; }