body { border: solid lime; background: green url(support/square-purple.png) no-repeat 50% 50%; color: white; }
   html { border: solid blue; background: transparent; color: yellow; }
   :link, :visited { color: inherit; background: transparent; }
   * { margin: 1em; padding: 1em; }