#table
            {
                display: table;
                table-layout: fixed;
            }
            #row
            {
                display: table-row;
            }
            #cell
            {
                border-top-style: solid;
                border-top-color: green;
                display: table-cell;
                width: 1in;
            }