table
            {
                border-collapse: collapse;
                table-layout: fixed;
                width: 200px;
            }
            #col
            {
                width: 100px;
            }
            td
            {
                padding: 0;
            }
            #cell
            {
                background: black;
            }
            #div1
            {
                background: blue;
                height: 1em;
                width: 100px;
            }