#div1
            {
                clear: left;
                width: 500px;
            }
            div div
            {
                height: 1in;
                width: 1in;
            }
            #div2
            {
                background: blue;
                float: left;
            }
            #div3
            {
                background: orange;
                clear: inherit;
            }