body
            {
                width: 500in;
                height: 500in;
            }
            html
            {
                overflow: visible;
            }
            #result
            {
                border: 1px solid blue;
            }