#test
            {
                direction: rtl;
                display: table-column;
                unicode-bidi: bidi-override;
            }
            #table
            {
                display: table;
            }
            #row
            {
                display: table-row;
            }
            #cell
            {
                display: table-cell;
            }