div
            {
                height: 0;
                width: 50px;
            }
            .parent1
            {
                background: red;
                min-height: 3px
            }
            .test1, .test2
            {
                padding-top: 1mm;
            }
            .test1
            {
                background: green;
            }
            .test2
            {
                background: red;
            }
            .child1
            {
                background: green;
                height: 4px;
                margin-top: -1mm;
            }