#table
            {
                border-left-style: dashed;
                display: inline-table;
                table-layout: fixed;
            }
            #row
            {
                display: table-row;
            }
            #cell
            {
                display: table-cell;
                height: 1in;
            }