div
            {
                height: 1in;
                width: 1in;
            }
            #test
            {
                color: #ff0000;
                font: 1in Ahem;
            }
            #reference
            {
                background-color: #ff0000;
                margin-top: 10px;
            }