body
            {
                background: black;
                color: white;
            }
            div
            {
                height: 1in;
                width: 1in;
            }
            #test
            {
                color: #fefefe;
                font: 1in Ahem;
            }
            #reference
            {
                background-color: #fefefe;
                margin-top: 10px;
            }