div
            {
                height: 1in;
                width: 1in;
            }
            #wrapper
            {
                color: green;
            }
            div div
            {
                color: red;
            }
            #test
            {
                color: inherit;
                font: 1in Ahem;
            }