div
            {
                background: black;
                display: inline;
                line-height: 1em;
            }
            div div
            {
                background: white;
                margin-right: 100px;
            }