#div1
            {
                width: 200px;
            }
            #div2
            {
                border: 5px solid blue;
                height: 20px;
                float: left;
                width: 50%;
            }
            #div3
            {
                background: orange;
            }