div
            {
                background: red;
                font: 20px/1em Ahem;
                height: 5em;
                width: 5em;
            }
            .color1
            {
                color: green;
            }
            .color2
            {
                color: blue;
            }