div
            {
                border-top: solid orange;
            }
            span
            {
                border: 20px solid blue;
                display: inline-block;
                font: 50px Ahem;
            }
            #span1
            {
                color: blue;
                line-height: 1em;
            }
            #span2
            {
                line-height: 10px;
                vertical-align: top;
            }