#div1
            {
                background: orange;
                font: 1in/1em Ahem;
                height: 2em;
                width: 3em;
            }
            #div2
            {
                background: blue;
                float: right;
                height: 1em;
                width: 1em;
            }
            div div
            {
                color: blue;
            }