#relatively-positioned-wrapper
  {
  position: relative;
  }

  #parent-lime
  {
  background-color: lime;
  border-top: black solid 1px;
  width: 50%;
  }

  #float-left-blue
  {
  background-color: blue;
  float: left;
  height: 100px;
  width: 100px;
  }

  #clear-left
  {
  clear: left;
  }

  #clear-left div
  {
  background-color: aqua;
  height: 60px;
  margin-top: 140px;
  }

  #next-yellow
  {
  background-color: yellow;
  height: 100px;
  }

  .ref-overlapped-red
  {
  background-color: red;
  left: 0;
  position: absolute;
  z-index: -1;
  }

  #ref1
  {
  height: 200px;
  top: 1px;
  width: 50%;
  }

  #ref2
  {
  height: 100px;
  top: 201px;
  width: 100%;
  }