#table
            {
                border-bottom-style: solid;
                border-bottom-width: 1in;
                display: table;
                table-layout: fixed;
                width: 1in;
            }
            #row
            {
                display: table-row;
            }
            #cell
            {
                display: table-cell;
                width: 1in;
            }