div
            {
                font: 0.5in/1em Ahem;
                position: relative;
            }
            #div3
            {
                top: -0.7in;
            }
            #span1
            {
                color: red;
                vertical-align: baseline;
            }
            #span2
            {
                font: 1.5in/1em Ahem;
            }