div
            {
                font: 0.5in/1em Ahem;
                position: relative;
            }
            #div3
            {
                position: absolute;
                top: 1in;
            }
            #span1
            {
                color: red;
                vertical-align: bottom;
            }
            #span2
            {
                font: 1.5in/1em Ahem;
            }