div
            {
                font: 20px/1 Ahem;
                position: relative;
            }
            #div3
            {
                position: absolute;
                top: 0;
            }
            #span1
            {
                color: red;
                vertical-align: +0em;
            }