.table
            {
                display: table;
                border: 1px solid gray;
            }
            .caption
            {
                display: table-caption;
                background: black;
            }
            .colgroup
            {
                display: table-column-group;
            }
            .col
            {
                display: table-column;
            }
            .thead
            {
                display: table-header-group;
            }
            .tfoot
            {
                display: table-footer-group;
            }
            .tbody
            {
                display: table-row-group;
            }
            .tr
            {
                display: table-row;
            }
            .td
            {
                background: black;
                border: 1px solid gray;
                display: table-cell;
            }