#div1
            {
                position: relative;
            }
            #div2
            {
                background: orange;
                height: 2in;
                left: 1in;
                position: absolute;
                top: 0;
                width: 1in;
            }
            #test
            {
                display: table-row-group;
                line-height: 2in;
            }
            #table
            {
                display: table;
                table-layout: fixed;
            }
            #row
            {
                display: table-row;
            }
            #cell
            {
                background: blue;
                display: table-cell;
                width: 1in;
            }