#div1
            {
                position: relative;
            }
            div div
            {
                background: orange;
                height: 2in;
                left: 1in;
                position: absolute;
                top: 0;
                width: 1in;
            }
            span
            {
                background: blue;
                display: block;
                line-height: 2in;
                width: 1in;
            }