div[lang |= "es"] { color:white;background-color:green; }
      p[lang |= "es"] { color:white;background-color:green; }
      div[lang |= "en-GB"] { color:white;background-color:green; }
      p[lang |= "fr"] { color:white;background-color:green; }
      em[lang |= "de"] { color:white;background-color:green; }
      div[xml:lang |= "it"] { color:white;background-color:green; }
      div[lang |= "ch"] { color:white;background-color:green; }
      div[lang=" no"] { color:white;background-color:green; }