#test
            {
                border-style: solid;
                border-width: 1in;
                display: table-header-group;
            }
            #table
            {
                border-collapse: collapse;
                display: table;
                margin: 1in;
                table-layout: fixed;
            }
            #row
            {
                display: table-row;
            }
            #cell
            {
                display: table-cell;
                height: 1in;
                width: 1in;
            }