div
            {
                height: 1in;
                width: 0;
            }
            #wrapper
            {
                border-left: 2px solid red;
            }
            #div1
            {
                margin-left: 96px;
            }
            #div2
            {
                border-left: 2px solid black;
                margin-left: -98px;
            }