div
            {
                height: 1in;
                width: 0;
            }
            #div1
            {
                border-left: 5px solid blue;
                padding-left: +0px;
            }
            div div
            {
                border-left: 5px solid orange;
            }