div
            {
                height: 50px;
                width: 0;
            }
            .parent1
            {
                background: red;
                min-width: 37px
            }
            .test1, .test2
            {
                padding-left: 1cm;
            }
            .test1
            {
                background: green;
            }
            .test2
            {
                background: red;
            }
            .child1
            {
                background: green;
                left: -38px;
                position: relative;
                width: 38px;
            }