div
            {
                height: 1in;
                width: 0;
            }
            #wrapper
            {
                width: 1in;
            }
            #div1
            {
                border-left: 5px solid blue;
                padding-left: +0%;
            }
            #div2
            {
                border-left: 5px solid orange;
            }