div
            {
                height: 1in;
                width: 0;
            }
            #div1
            {
                border-left: 1in solid red;
                padding-left: +3in;
            }
            div div
            {
                border-left: 1in solid black;
                margin-left: -4in;
            }