div
            {
                height: 1in;
                width: 0;
            }
            #div1
            {
                border-left: 25.4mm solid red;
                padding-left: 25.4mm;
            }
            div div
            {
                border-left: 25.4mm solid black;
                margin-left: -50.8mm;
            }