.ahem { display: inline; font: 1em/1 Ahem, sans-serif; background: red; color: white; }
  .control, .test { font: 1em/1 Ahem; color: green; margin: 0 2em; }
  .first-line, .test:first-line { background: red; vertical-align: bottom; }
  .inner { font-size: 5em; vertical-align: top; }