body
            {
                border-top-style: dotted;
                border-top-width: 0;
            }
            div
            {
                border-top-style: inherit;
                border-top-color: green;
                border-top-width: 10px;
            }