#test
            {
                border-right-style: dashed;
                display: table-caption;
                height: 1in;
                width: 0;
            }
            #table
            {
                display: table;
            }
            #row
            {
                display: table-row;
            }
            #cell
            {
                display: table-cell;
            }