#test
            {
                border-right-style: dashed;
                display: table-row;
            }
            #table
            {
                border-collapse: collapse;
                display: table;
                table-layout: fixed;
            }
            #cell
            {
                display: table-cell;
                height: 1in;
                width: 0;
            }