#table
  {
  border-collapse: collapse;
  display: table;
  }

  #test
  {
  border-color: red;
  border-style: hidden;
  display: table-header-group;
  }

  #row
  {
  display: table-row;
  }

  #cell
  {
  display: table-cell;
  height: 200px;
  width: 200px;
  }