div
            {
                border-style: dashed;
                border-collapse: collapse;
                display: inline-table;
                table-layout: fixed;
            }
            #row
            {
                display: table-row;
            }
            #cell
            {
                display: table-cell;
                height: 1in;
                width: 1in;
            }