#div1
            {
                background: blue;
                height: 100px;
                position: relative;
                width: 100px;
            }
            div div
            {
                background: white;
                height: 50px;
                position: relative;
                left: 50px;
                width: 50px;
            }