@import "support/core-syntax-009.css";
    div p { color: red; }
    div​p { color: red; }
    div‏p { color: red; }
    div　p { color: red; }
    div p { color: red; }
    div p { color: red; }
    div p { color: red; }
    div﻿p { color: red; }