#div1
        {
            background: blue;
            margin-left: 50px;
            outline-style: solid;
            outline-color: black;
            outline-width: 10px;
        }
        #div2
        {
            background: orange;
            margin-left: 50px;
        }
        #div1, #div2
        {
            height: 100px;
            width: 100px;
        }