@page {
		margin: 7%;
	}
	html, body {
		height:100%;
		line-height:1;
	}
	* {
		margin:0;
		padding:0;
		page-break-before: inherit;
	}
	div#one {height: 20%;}
	div#two {
		height: 80%;
		margin-bottom: -4em;
	}
	p {
		width: 1em;
		color: gray;
	}