.control { display: inline; font: 1em/1 Ahem, sans-serif; background: red; color: white; }
   * { white-space: normal; }
   div { display: block; }
   span { display: inline; }
   table { padding: 0; border-spacing: 0; border: solid; }
   td { font: 20px/1 Ahem; color: red; background: red; padding: 0; }
   .red { background: red; }
   .green { color: green; background: lime; }
   .check { width: 3em; background: lime; color: green; }