span
            {
                display: block;
                list-style-position: inside;
                margin-left: 1in;
            }
            a
            {
                background: orange;
                display: list-item;
            }