div
            {
                font-family: Ahem;
                line-height: 1em;
                position: relative;
            }
            #div2
            {
                font-size: +72pt;
            }
            #div3
            {
                border-top: 72pt solid black;
                left: 1.1in;
                position: absolute;
                top: 0;
                width: 72pt;
            }