div
            {
                font-family: Ahem;
                font-size: 3in;
            }
            span
            {
                font-size: 0;
            }
            div span
            {
                font-size: inherit;
            }