div
            {
                font-family: Ahem;
                line-height: 1em;
                position: relative;
            }
            #div2
            {
                font-size: 25.4mm;
                width: 1in;
            }
            #div3
            {
                border-top: 25.4mm solid black;
                left: 1.1in;
                position: absolute;
                top: 0;
                width: 25.4mm;
            }