div
            {
                font-family: Ahem;
                font-size: 20px;
                line-height: 1em;
                position: relative;
            }
            #div2
            {
                background-color: red;
                color: black;
                font-size: 6ex;
                width: 1in;
            }
            #div3
            {
                background-color: black;
                height: 6ex;
                left: 100px;
                position: absolute;
                top: 0;
                width: 6ex;
            }