div
            {
                font-family: Ahem;
                line-height: 1em;
                position: relative;
            }
            #div2
            {
                font-size: +6pc;
            }
            #div3
            {
                border-top: 6pc solid black;
                left: 1.1in;
                position: absolute;
                top: 0;
                width: 6pc;
            }