#table
            {
                display: table;
                table-layout: fixed;
            }
            #row
            {
                display: table-row;
                min-height: 1in;
            }
            #cell
            {
                background: black;
                display: table-cell;
                min-height: inherit;
                width: 1in;
            }