div
            {
                height: 0;
            }
            #div1
            {
                border-top: 2.54cm solid red;
                margin-bottom: -5.08cm;
            }
            #div2
            {
                border-top: 2.54cm solid black;
                margin-top: 2.54cm;
            }