div
            {
                height: 0;
            }
            #wrapper
            {
                width: 1in;
            }
            #div1
            {
                border-top: 5px solid blue;
            }
            #div2
            {
                border-top: 5px solid orange;
                margin-top: 0%;
            }