div
            {
                height: 0;
            }
            #div1
            {
                border-top: 6pt solid red;
                margin-bottom: -78pt;
            }
            #div2
            {
                border-top: 6pt solid black;
                margin-top: +72pt;
            }