div
            {
                height: 0;
            }
            #wrapper
            {
                margin-top: 1in;
                width: 2in;
            }
            #div1
            {
                border-top: 1in solid red;
                margin-bottom: -2in;
            }
            #div2
            {
                border-top: 1in solid black;
                margin-top: inherit;
            }