div
            {
                height: 1in;
                width: 1in;
            }
            #div0
            {
                border: 1px solid transparent;
                height: 0;
            }
            #div1
            {
                position: absolute;
                background: red;
                margin-top: 1in;
            }
            #div2
            {
                bottom: -1in;
                position: relative;
                top: auto;
            }
            #div3
            {
                background: green;
                position: relative;
                top: inherit;
            }