div
            {
                border: solid;
                overflow: auto;
                width: 200px;
            }
            span
            {
                position: relative;
                left: 200px;
            }