#div1
            {
                background: blue;
                direction: rtl;
                width: 2in;
            }
            div div
            {
                background: orange;
                height: 1in;
                left: 1in;
                position: relative;
                right: 1in;
                width: 1in;
            }