#div1
            {
                background: blue;
                height: 2px;
                left: 0;
                position: relative;
                top: 24px;
                width: 200px;
            }
            #span1
            {
                position: relative;
                top: 25px;
            }