div
            {
                height: 1in;
                width: 1in;
            }
            #div1
            {
                margin-left: 1in;
            }
            #div2
            {
                background: blue;
            }
            #div3
            {
                background: orange;
                position: relative;
                left: auto;
                right: 1in;
                top: -1in;
            }