#test
            {
                display: table-row;
                outline-color: blue;
                outline-style: dotted;
                outline-width: 10px;
            }
            #table
            {
                display: table;
                table-layout: fixed;
            }
            #cell
            {
                display: table-cell;
                height: 1in;
                width: 1in;
            }