div, table, tr, td, img { margin: 0; border: 0; padding: 0; border-spacing: 0; }
   .test > * { border: solid thick blue; font: 20px Ahem; float: left; color: gray;
               margin: 0.2em; height: auto; width: 3em; text-align: center; }