div
            {
                background-color: red;
                background-image: url('support/green15x15.png');
                background-repeat: repeat;
                display: inline-block;
                height: 1in;
                width: 1in;
            }