div
            {
                text-decoration: underline;
            }
            #span1
            {
                font-size: 50pt;
            }
            #span2
            {
                font-size: 30pt;
            }
            #span3
            {
                font-size: 20pt;
            }