body { font: 900 10em Lucida Console, Courier New, Courier, monospace; }
   .description { font: medium serif; margin: 1em 1em 15em; }
   .test { position: absolute; bottom: 0; left: auto; right: 0; top: auto;
           background: white; color: green; margin: 0; }
   .control { position: absolute; bottom: 0; left: auto; right: 0; top: auto;
              background: red; color: yellow; margin: 0; }