.container {
      width: 6em;
      height: 1em;
      background: red;
    }
    .float {
      float: left;
      width: 1em;
      height: 4em;
      background: white;
    }
    .abspos {
      position: absolute;
      clear: both;
      width: 6em;
      height: 1em;
      background: green;
    }