body { position: relative; }
   .control { border-right: 10em solid red; height: 1em; }
   .test { position: absolute; width: 10em; height: 1em;
           right: 0; margin: auto;
           background: green; color: white; }