.absolute { position: absolute; bottom: 0; left: 0; right: 0;
               height: 5em; border: solid blue; }
   html { height: 300em; min-height: 150%; border: orange; border-style: none solid; }
   .control { border: solid yellow; }
   * { margin: 0; padding: 0; }