#div1
            {
                position: relative;
            }
            #div2
            {
                background: orange;
                position: absolute;
                height: 1in;
                top: 0.5in;
                width: 1in;
            }
            #div3
            {
                background: blue;
                float: left;
                height: 2in;
                width: 0.5in
            }
            span
            {
                white-space: nowrap;
            }