#div1
            {
                position: relative;
            }
            #div2, #div3
            {
                height: 1in;
                width: 1in;
            }
            #div2
            {
                background: green;
                position: absolute;
            }
            #div3
            {
                background: red;
            }