#table
           {
               display: table;
           }
           .cg1, .cg2
           {
               display: table-column-group;
           }
           .cg2
           {
               visibility: collapse;
           }
           .col
           {
               display: table-column;
           }
           .tr
           {
               display: table-row;
           }
           .td1, .td2
           {
               display: table-cell;
           }
           .td2
           {
               background: red;
           }