table
            {
                border: 5px solid red;
                border-collapse: collapse;
                height: 2in;
                width: 2in;
            }
            td
            {
                border: 5px solid black;
            }