#div1
            {
                outline: 0 dotted;
            }
            div div
            {
                height: 1in;
                outline: 15px green;
                outline-style: inherit;
                width: 1in;
            }