#div1
            {
                border: solid;
                height: 50px;
                overflow: scroll;
                width: 100px;
            }
            div div
            {
                width: 200px;
            }