#div1
            {
                border: 2px solid blue;
                display: inline;
            }
            div div
            {
                background: orange;
                width: 2in;
            }