span
            {
                display: block;
            }
            #span1
            {
                border-left: 10px solid blue;
                padding-left: 50px;
            }
            span span
            {
                border-left: 10px solid orange;
                height: 200px;
                width: 200px;
            }