#wrapper
            {
                border-left: 10px solid blue;
            }
            #table
            {
                display: table;
                table-layout: fixed;
            }
            #row
            {
                display: table-row;
                padding-left: 50px;
            }
            #cell
            {
                display: table-cell;
            }
            #cell div
            {
                border-left: 10px solid orange;
                height: 200px;
            }