.table
            {
                display: table;
            }
            .tr
            {
                display: table-row;
            }
            .td
            {
                background: blue;
                display: table-cell;
                height: 15px;
                width: 15px;
            }
            img
            {
                display: table-cell;
                height: 15px;
                width: 15px;
            }