div
            {
                background-color: blue;
                cursor: pointer;
                height: 1in;
                display: inline-block;
                width: 1in;
            }