div
            {
                background-color: blue;
                cursor: pointer;
                height: 1in;
                display: list-item;
                margin-left: 1in;
                width: 1in;
            }