#div1
            {
                position: relative;
                width: 100px;
            }
            #div2
            {
                left: 120px;
                position: absolute;
                right: 120px;
                width: auto;
            }
            #div3
            {
                background-color: red;
                height: 1in;
                min-width: 200%;
            }