#table
            {
                display: table;
                table-layout: fixed;
            }
            #row
            {
                display: table-row;
            }
            #cell
            {
                border-right-style: solid;
                border-right-width: 1in;
                display: table-cell;
                height: 1in;
                width: 0;
            }