div
            {
                counter-reset: ident ident ident;
            }
            div:before
            {
                font-size: 30px;
                content: counter(ident);
            }