div
            {
                counter-reset: ident -2147483647;
            }
            div:before
            {
                font-size: 30px;
                content: counter(ident);
            }