#div1
            {
                text-decoration: underline overline;
            }
            div div
            {
                text-decoration: underline;
                text-decoration: inherit;
            }