#div1
            {
                text-decoration: underline;
            }
            div div
            {
                text-decoration: overline;
                text-decoration: inherit;
            }