#div1
            {
                text-decoration: underline overline line-through blink;
            }
            div div
            {
                text-decoration: underline;
                text-decoration: inherit;
            }