div
            {
                border: 10px solid red;
                border-collapse: collapse;
                display: none;
                height: 100px;
                width: 100px;
            }