#table
            {
                display: table;
                height: 100px;
                width: 100px;
            }
            .test
            {
                border-collapse: collapse;
                display: table-caption;
                height: 100px;
                width: 100px;
            }
            #top
            {
                border-bottom: 10px solid blue;
            }
            #tr
            {
                
                display: table-row;
            }
            #bottom
            {
                display: table-cell;
                border-top: 10px dotted orange;
            }