div
            {
                border-collapse: collapse;
                display: list-item;
                height: 100px;
                margin-left: 2em;
                width: 100px;
            }
            #top
            {
                border-bottom: 10px solid blue;
            }
            #bottom
            {
                border-top: 10px dotted orange;
            }