p { color: navy; }
   div { margin: 1em; }
   img { display: block; margin-bottom: 5px; }
   span { color: blue; font: 15px/1 Ahem; vertical-align: top; background: red; display: block; width: 1em; }
   .b img, .b span { font-size: 4em/1; height: 1em; }