tr
            {
                empty-cells: hide;
            }
            .empty
            {
                background-color: red;
                border: 10px solid red;
                empty-cells: inherit;
            }