td
            {
                color: white;
            }
            .empty
            {
                background-color: black;
                border: 10px solid black;
                empty-cells: show;
            }