div div
            {
                background: blue;
                width: 1in;
            }
            #span1
            {
                background: orange;
                width: 1in;
            }
            #span2
            {
                background: yellow;
                float: left;
                width: 0.5in;
            }