ul { list-style: url(support/swatch-green.png) square outside;
        margin: 3em; padding: 15px; color: red; }
   li { margin: 0; padding: 0.1em 4em; border: solid blue; }
   img { margin: 0 0 0 15px; }
   span { color: black; }