div
            {
                width: 1in;
            }
            #div1
            {
                background: red;
            }
            div div
            {
                background: red;
                height: 50%;
            }