#div1
            {
                border-left: 1in solid blue;
            }
            div div
            {
                border-left: inherit;
                height: 1in;
                margin: 10px;
            }