#parent
            {
                font: 16px/1em Ahem;
                position: relative;
                width: 400px;
            }
            #reference
            {
                color: red;
                left: 0;
                position: absolute;
                top: 0;
                z-index: -1;
            }
            #test
            {
                text-indent: +50%;
                margin-left: -50%;
            }