#parent
            {
                font: 16px/1em Ahem;
            }
            #reference
            {
                margin-left: 25.4mm;
            }
            #test
            {
                text-indent: 25.4mm;
            }