p { color: navy; }
   .one {text-decoration: underline;}
   .two {text-decoration: overline;}
   .three {text-decoration: line-through;}
   .four {text-decoration: blink;}
   b.five {text-decoration: none;}
   .six {text-decoration: underline overline;}
   .seven {text-decoration: underline overline line-through;}
   div, strong, img { color: red; }
   .eight { color: white; }