.table
            {
                display: table;
            }
            #tfoot
            {
                background: orange;
                display: table-footer-group;
            }
            #tbody
            {
                display: table-row-group;
            }
            .tr
            {
                display: table-row;
            }
            .td
            {
                border: 1px solid black;
                display: table-cell;
                height: 4em;
                width: 4em;
            }