.table
            {
                display: table;
            }
            #thead
            {
                background: orange;
                display: table-header-group;
            }
            #tbody
            {
                background: orange;
                display: table-row-group;
            }
            #tfoot
            {
                background: blue;
                display: table-footer-group;
            }
            .tr
            {
                display: table-row;
            }
            .td
            {
                display: table-cell;
                height: 4em;
                width: 4em;
            }