div
            {
                display: list-item;
                height: 1in;
                margin-left: 2em;
                outline-color: green;
                outline-style: solid;
                outline-width: 8px;
                width: 1in;
            }