#test
            {
                display: table-caption;
                height: 1in;
                outline-color: green;
                outline-style: solid;
                outline-width: 10px;
                width: 1in;
            }
            #table
            {
                display: table;
            }