div
            {
                display: inline-block;
                height: 1in;
                outline-color: green;
                outline-style: solid;
                outline-width: 10px;
                width: 1in;
            }