#div1
            {
                border: solid black;
                height: 2in;
                width: 2in;
            }
            img
            {
                background-color: blue;
                float: left;
                margin-left: auto;
                height: 1in;
                width: 1in;
            }