div
            {
                font: 0.5in/1em serif;
            }
            span
            {
                border-bottom: 1in solid blue;
                line-height: 0;
            }