div
            {
                color: green;
                font: 1in/1em Ahem;
                line-height: 0;
                margin-top: 1in;
                width: 1in;
            }
            div:first-letter
            {
                color: red;
            }