body
            {
                margin: 50px;
            }
            div
            {
                display: list-item;
                list-style-type: decimal;
                list-style-image: url('support/blue15x15.png');
                list-style-image: none;
            }