#div1
            {
                font: 14pt serif;
            }
            .test
            {
                font-size: 96px;
                font-style: italic;
                font-weight: bold;
            }
            #div2
            {
                font: 14pt serif;
            }