table
            {
                border-collapse: collapse;
            }
            td
            {
                border: 5px hidden red;
                height: 3em;
                width: 3em;
            }
            #center
            {
                border: 5px none red;
            }