#table1
            {
                margin-bottom: 20px;
            }
            table
            {
                border-collapse: collapse;
            }
            td
            {
                border: 5px dashed lime;
                height: 3em;
                width: 3em;
            }
            #center
            {
                border: 5px ridge red;
            }