#table1
            {
                margin-bottom: 20px;
            }
            table
            {
                border-collapse: collapse;
            }
            td
            {
                border: 5px dotted lime;
                height: 3em;
                width: 3em;
            }
            #center, #table1 td
            {
                border: 5px double lime;
            }
            #top
            {
                border-top: 5px dotted red;
            }
            #left
            {
                border-left: 5px dotted red;
            }
            #bottom
            {
                border-bottom: 5px dotted red;
            }
            #right
            {
                border-right: 5px dotted red;
            }