div
            {
                background-color: blue;
            }
            #span1
            {
                font-size: 0.5in;
            }
            #span2
            {
                font-size: 1in;
            }