#wrapper
            {
                font: italic 1in Ahem;
                position: relative;
            }
            #test
            {
                font: 0 Ahem;
                font: inherit;
                line-height: 1em;
            }
            #reference
            {
                background: black;
                height: 1in;
                left: 1.4in;
                position: absolute;
                top: 0;
                width: 1in;
            }