#wrapper
            {
                position: relative;
            }
            #test
            {
                font: italic small-caps 1in serif;
                line-height: 1em;
                position: absolute;
            }
            #reference
            {
                color: orange;
                font-family: serif;
                font-size: 1in;
                height: 1in;
                left: 0;
                line-height: 1em;
                position: absolute;
                top: 0;
                width: 1in;
            }