#wrapper
            {
                position: relative;
            }
            #test
            {
                font: 1in Ahem;
                line-height: 1em;
            }
            #reference
            {
                background: black;
                height: 1in;
                left: 1.1in;
                position: absolute;
                top: 0;
                width: 1in;
            }