div
  {
  background-color: red;
  color: white;
  display: inline-block;
  font: 32px/1 Ahem;
  }

  span
  {
  background-color: white;
  color: green;
  font: caption;
  font-size: 32px;
  }