body
            {
                border-left-color: green;
            }
            div
            {
                border-left-style: solid;
                border-left-width: 1in;
                border-left-color: red;
                border-left-color: inherit;
                height: 1in;
            }