#wrapper
            {
                border: 10px solid blue;
                position: absolute;
            }
            #test
            {
                border: 10px solid orange;
                display: table-caption;
                height: 200px;
                margin: 50px;
            }
            #table
            {
                display: table;
                width: 320px;
            }
            #row
            {
                display: table-row;
            }
            #cell
            {
                display: table-cell;
            }