div
            {
                display: block;
            }
            #wrapper
            {
                border: 10px solid blue;
                position: absolute;
            }
            #test
            {
                border: 10px solid orange;
                height: 200px;
                margin: 50px;
                width: 200px;
            }