* {
		margin: 0;
		padding: 0;
		orphans: 1;
		widows: 1;
	}
	html, body {
		height:100%;
		line-height: 1;
		font-size: 16pt;
	}
	div.spacers {
		height: 50%;
	}
	div#backUp {margin-top: -2em;}
	div.break {
		width: 0;
	}
	span {page-break-inside: avoid;}