* {
		margin: 0;
		padding: 0;
		orphans: 1;
		widows: 1;
	}
	html, body {
		height:100%;
		line-height: 1;
		font-size: 20px;
	}
	div.spacers {
		height: 50%;
	}
	div#takeTwo {page-break-before: always}
	div.backUp {margin-top: -4em;}
	div#break2 {
		page-break-inside: avoid;
		page-break-inside: auto;
	}
	.breaker {
		width: 0;
		font-weight: bold;
		color: blue;
	}