#test
            {
                border-bottom: solid green;
                display: table;
                table-layout: fixed;
            }
            #row
            {
                display: table-row;
            }
            #cell
            {
                display: table-cell;
                width: 1in;
            }