#div1
            {
                border: solid black;
                height: 200px;
                position: relative;
                width: 100px;
            }
            div div
            {
                background: blue;
                height: 50px;
                margin-left: 50px;
                position: absolute;
                right: 50%;
                width: 50px;
            }