#test
            {
                display: table-column-group;
                list-style-image: url('support/blue15x15.png');
            }
            #table
            {
                display: table;
                margin-left: 1in;
            }
            #row
            {
                display: table-row;
            }
            #cell
            {
                display: table-cell;
            }
            #cell div
            {
                display: list-item;
            }