body
  {
  direction: rtl;
  margin: 8px; 
  }

  p {direction: ltr;}

  div#outer-abs-pos
  {
  background-color: red;
  font: 32px/4 Ahem;
  left: auto;
  position: absolute;
  right: auto; /* right is set to static position: it should be 8px from the right-hand side of document box (at body's margin-right) */
  width: auto;
  }

  div#inner-floated
  {
  background-color: green;
  float: left;
  max-width: 4em;
  }