body
  {
  direction: ltr;
  margin: 8px;
  }

  div#outer-abs-pos
  {
  background-color: red;
  font: 32px/4 Ahem;
  left: auto; /* left is set to static position: it should be 8px from the left-hand side of document box (at body's margin-left) */
  position: absolute;
  right: auto;
  width: auto;
  }

  div#inner-floated
  {
  background-color: green;
  float: left;
  max-width: 4em;
  }