div
            {
                border: solid green!important;
                height: 1in;
            }
            div
            {
                border-top-color: red;
                border-bottom-color: red;
            }