div
            {
                border: solid;
                color: green;
            }
            div:before
            {
                content: 'PASS ';
            }
            div:after
            {
                content: 'PASS';
            }