.table { display: table; border-spacing: 0; background: red; color: green; }
   .row { display: table-row; }
   .cell, .row.test:before, .row.test:after { display: table-cell; background: white; border: solid white; }
   .row.test:before { content: "P"; }
   .row.test:after { content: "S"; }