#test
            {
                border-bottom-style: solid;
                border-bottom-color: green;
                display: table-caption;
                width: 1in;
            }
            #table
            {
                border-collapse: collapse;
                display: table;
            }
            #row
            {
                display: table-row;
            }
            #cell
            {
                display: table-cell;
            }