.control { display: inline; font: 1em/1 Ahem, sans-serif; background: red; color: white; }
   .test { margin: 1em; width: 29em; font: 0.5em/1 Ahem; }
   .left { text-align: left; }
   .right { text-align: right; }
   .justify { text-align: justify; }