#div1
            {
                border: solid blue;
                overflow: scroll;
                padding: 10px;
            }
            div div
            {
                background-color: black;
                border: solid;
                height: 10px;
            }