div
            {
                position: relative;
            }
            #div1
            {
                border-top: 1in solid red;
                height: 1in;
            }
            #div2
            {
                border-top: 1in solid black;
                bottom: 100%;
            }