#div1
            {
                border-top: 1in solid red;
                position: relative;
            }
            #div2
            {
                border-top: 1in solid black;
                bottom: +1in;
                position: relative;
            }