/* setup */
   .control { display: inline; font: 1em/1 Ahem, sans-serif; background: red; color: white; }
   td * { white-space: pre; font: inherit; }
   div { display: block; }
   span { display: inline; }

   /* test */
   td { font: 20px/1 Ahem; color: maroon; background: red; padding: 0; }
   span { background: lime; }
   div { color: green; }