div
            {
                font: 20px/1em Ahem;
                width: 5em;
            }
            #parent
            {
                background: url('support/clear-clearance-calculation-002.png');
                min-height: 8em;
            }
            div div
            {
                background: green;
                height: 1em;
            }
            #div1
            {
                margin-bottom: 4em;
            }
            #div2
            {
                float: left;
                height: 2em;
                margin: 0;
            }
            #div3
            {
                clear: left;
                margin-top: 3em;
            }