div, span
            {
                height: 200px;
                width: 200px;
            }
            div
            {
                border-top: 10px solid blue;
            }
            span
            {
                border-top: 10px solid orange;
                display: block;
                margin-top: 50px;
            }