div
            {
                border-top: 1em solid red;
                font: 20px/1em Ahem;
                width: 10em;
            }
            div div
            {
                border-top: 1em solid green;
                display: inline;
                margin-top: 50px;
            }