#table
            {
                display: table;
            }
            #row
            {
                counter-reset: test 5;
                display: table-row;
            }
            #cell
            {
                display: table-cell;
            }
            #cell:before
            {
                content: counter(test);
            }