#table
            {
                display: inline-table;
                list-style: square;
                margin-left: 1in;
            }
            #row
            {
                display: table-row;
            }
            #cell
            {
                display: table-cell;
            }
            #cell div
            {
                display: list-item;
            }