html
            {
                border: 1px solid;
                font: 20px/1 Ahem;
                margin-left: 20em;
                margin-top: 20ex;
            }
            div
            {
                position: absolute;
            }
            #div1
            {
                background: orange;
                height: 20px;
                left: 0;
                top: 320px;
                width: 400px;
            }
            #div2
            {
                background: blue;
                height: 320px;
                left: 400px;
                top: 0;
                width: 20px;
            }
            p
            {
                font: 16px serif;
            }