table
            {
                border: 1px solid;
                border-spacing: 0;
                height: 200px;
                width: 100%;
            }
            *
            {
                padding: 0;
                vertical-align: top;
            }