html, body, p
            {
                background: white;
                height: auto;
            }
            *
            {
                background: green;
                height: 1px;
            }