html, body, p, table, tr
            {
                background: white;
                width: auto;
            }
            *
            {
                background: blue;
                width: 0;
            }