p { color: navy; }
   .control { padding: 1em; }
   .control div { width: 10em; background: navy; color: yellow; }
   .control div.right { margin-left: 5em; text-align: right; }
   .test { width: 15em; margin: 1em; }
   .test div { margin: 0; padding: 0; background: red; }
   .test p { margin: 0; padding: 0; width: 10em; background: navy; color: yellow; }
   .test p.left { float: left; text-align: left; }
   .test p.right { float: right; text-align: right; }