#test{
  border-top:3px solid black;
  display:list-item;
  font-size:85px;
  list-style-position:outside;
  margin:100px;
  width:250px;
  }
  #test div{
  background:yellow;
  float:right;
  height:100px;
  width:100px;
  }