#test{
  background:silver;
  color:blue;
  display:list-item;
  font-size:85px;
  list-style-position:outside;
  margin:100px;
  }
  #test:before{
  color:yellow;
  content:'T';
  display:list-item;
  float:left;
  }