body
            {
                border-color: blue;
            }
            div
            {
                border-color: inherit;
                border-style: solid;
                height: 1in;
            }