div
            {
                display: inline-block;
                font: 20px/1 Ahem;
                width: 1in;
            }
            #reference
            {
                background-color: black;
                height: 1in;
                margin-left: 5px;
            }
            #test
            {
                border-bottom-style: solid;
                border-bottom-width: 6ex;
                height: 0;
            }