.a { color: navy; }
   div.yellow, div.blue, div.red, div.green {
    width: 60px; padding: 20px; margin: 10px;
    border: 20px solid black; float: left; text-align: center;
   }
   div.yellow {margin-left: 0px; background: yellow; color: black;}
   div.blue {background: blue; color: white;}
   div.red {background: red; color: black;}
   div.green {background: green; color: white;}
   div.below {clear: both;}
   table {margin: 10px 0px;}