#table
            {
                display: table;
                table-layout: fixed;
            }
            #row
            {
                background-image: url('support/black15x15.png');
                display: table-row;
            }
            #cell
            {
                display: table-cell;
                height: 1in;
                width: 1in;
            }