#table
            {
                display: inline-table;
                font-family: Ahem;
            }
            #row
            {
                display: table-row;
            }
            #cell
            {
                display: table-cell;
            }