div p { clear: left; border: solid; margin: 1em; padding: 0.5em; background: #FFFFCC; color: black; }
   .test { line-height: 3em; }
   .control { line-height: 3em; }
   .a { color: navy; }
   .b { color: orange; }