div p { float: left; clear: left; border: solid; margin: 1em; padding: 0.5em; background: #FFFFCC; color: black; }
   .test { border: solid; padding: 0.4em 1em; line-height: 3em; }
   .control { line-height: 3em; }
   .control.start { border-style: solid none solid solid; padding: 0.4em 0 0.4em 1em;  }
   .control.middle { border-style: solid none solid none; padding: 0.4em 0 0.4em 0;  }
   .control.end { border-style: solid solid solid none; padding: 0.4em 1em 0.4em 0;  }
   .a { color: navy; }
   .b { color: orange; }