body
            {
                margin-left: 50px;
            }
            div
            {
                border: 5px solid transparent;
                display: list-item;
                font: 20px/1em Ahem;
                height: 5em;
                overflow: hidden;
                width: 5em;
            }
            #span2
            {
                color: red;
            }