td { vertical-align: bottom;}
   table { color: navy; }
   .two {border-top-width: thick; border-style: solid;}
   .three {border-top-width: medium; border-style: solid;}
   .four {border-top-width: thin; border-style: solid;}