#div1
            {
                border: solid black;
                height: 2in;
                width: 2in;
            }
            div div
            {
                background-color: blue;
                float: right;
                margin-right: 0.5in;
                height: 1in;
                width: 1in;
            }