body
            {
                margin: 0;
            }
            #div1
            {
                background: red;
                width: 100%;
            }
            div div
            {
                background-color: green;
                border: none;
                margin: 0;
                padding: 0;
                height: 40px;
                width: auto;
            }