@page {
    margin: 7%;
    margin-right: 2in;
  }
  @page:first{
    margin-top: 2in;
  }
  div {
    page-break-after: always;
    border-top: medium blue solid;
    border-right: medium orange solid;
    padding: .5em;
  }