@page {
        margin: 15%;
    }
    @page :right {
        margin-left: 50%;
    }
    @page :left {
        margin-right: 50%;
    }
    div {
        page-break-after: always;
        border: medium solid blue;
        padding: 10px;
    }