div
            {
                font: 16px/1em Ahem;
            }
            #table
            {
                display: table;
            }
            #row
            {
                display: table-row;
                letter-spacing: 1em;
            }
            #cell
            {
                display: table-cell;
            }
            #div1
            {
                background: blue;
                height: 1em;
                width: 11em;
            }