body
            {
                margin-left: 3em;
            }
            div
            {
                font: 16px/1em Ahem;
            }
            #div1
            {
                display: list-item;
                letter-spacing: 1em;
            }
            #div2
            {
                background: blue;
                height: 1em;
                width: 11em;
            }