div
            {
                font: 16px/1em Ahem;
            }
            #table
            {
                display: table;
            }
            #test
            {
                display: table-column-group;
                letter-spacing: 1em;
            }
            #row
            {
                display: table-row;
            }
            #cell
            {
                display: table-cell;
            }
            #div1
            {
                background: blue;
                height: 1em;
                width: 6em;
            }