#test
            {
                border-style: solid;
                border-width: 0.5in;
                height: 0;
                width: 0;
            }
            #reference
            {
                background-color: black;
                height: 1in;
                margin-top: 5px;
                width: 1in;
            }