#table1
            {
                border-collapse: separate;
            }
            #table2
            {
                border: 30px inset;
                border-collapse: collapse;
            }
            td
            {
                height: 5em;
                width: 5em;
            }
            #table1 td
            {
                border: 30px ridge;
            }
            #table2 td
            {
                border: 30px inset;
            }