div:first-letter
            {
                color: green;
            }
            div:before
            {
                color: black;
                content: "Filler Text";
            }