div
            {
                height: 1in;
            }
            #reference
            {
                background-color: black;
                margin-top: 5px;
                width: 1in;
            }
            #test
            {
                border-left-style: solid;
                border-left-width: 1in;
                width: 0;
            }