div
            {
                border-left-style: solid;
                border-left-width: 0ex;
                border-left-color: red;
                font: 20px/1 Ahem;
                height: 1in;
            }