div
            {
                height: 50px;
            }
            .ref1, .ref2
            {
                position: absolute;
            }
            .ref1
            {
                background: red;
                width: 37px;
                z-index: -1;
            }
            .ref2
            {
                background: green;
                width: 38px;
            }
            .test1, .test2
            {
                border-left-style: solid;
                border-left-width: 1cm;
                width: 0;
            }
            .test1
            {
                border-left-color: green;
            }
            .test2
            {
                border-left-color: red;
            }
            #parent
            {
                background: red;
                margin-top: 5px;
                width: 38px;
            }