table
            {
                background: blue;
                border-collapse: separate;
                border-spacing: 5px;
            }
            td
            {
                background: white;
                height: 2em;
                width: 2em;
            }