div { font: 24px/1 Ahem; width: 18em; background: yellow; color: aqua; }
   .one {letter-spacing: 0.25in;}
   .two {letter-spacing: 0.635cm;}
   .three {letter-spacing: 6.35mm;}
   .four {letter-spacing: 18pt;}
   .five {letter-spacing: 1.5pc;}
   .six {letter-spacing: 1em;}
   .seven {letter-spacing: 1.25ex;}
   .eight {letter-spacing: 24px;}