#container
            {
                border-bottom: 5px solid black;
                width: 200px;
            }
            table
            {
                border-spacing: 0;
                margin-bottom: 100px;
            }
            caption
            {
                background: blue;
                caption-side: bottom;
                color: blue;
            }
            td
            {
                background: orange;
                color: orange;
            }