#div1
            {
                position: relative;
            }
            div div
            {
                background: blue;
                bottom: auto;
                color: orange;
                font: 1in/1em Ahem;
                height: auto;
                margin-bottom: auto;
                margin-top: auto;
                position: absolute;
                top: 0.25in;
                width: 2in;
            }