#div1
            {
                border: solid black;
                height: 3in;
                position: relative;
                width: 3in;
            }
            div div
            {
                background: blue;
                bottom: 1in;
                height: 1in;
                margin-bottom: auto;
                margin-top: auto;
                position: absolute;
                top: auto;
                width: 100%;
            }