div
            {
                border-right: solid green;
                display: list-item;
                height: 1in;
                margin-left: 50px;
                width: 0;
            }