#div1
            {
                background: black;
                height: 1in;
                max-width: +3in;
                width: 4in;
            }
            #div2
            {
                border-left: 3in solid black;
                height: 1in;
                margin-top: 10px;
            }