div#test-red-overlapped
  {
  color: red;
  float: left;
  font: 64px/1 Ahem;
  max-width: 100px;
  overflow: scroll;
  }

  div#control-green-overlapping
  {
  background-color: green;
  height: 200px;
  position: absolute;
  width: 200px;
  }