#div1
            {
                width: 100px;
            }
            div div
            {
                background: black;
                height: 1in;
                max-width: 1%;
            }