div
            {
                font: 20px/1 Ahem;
            }
            #div1
            {
                background: black;
                height: 1in;
                max-width: +6ex;
                width: 8ex;
            }
            #div2
            {
                border-left: 96px solid black;
                height: 1in;
                margin-top: 2px;
            }