#div1
            {
                height: 200px;
                overflow: scroll;
                width: 200px;
            }
            div div
            {
                background: bottom repeat-x url("support/cat.png") scroll green;
                height: 400px;
                width: 400px;
            }