#div1
            {
                height: 200px;
                overflow: scroll;
                width: 200px;
            }
            div div
            {
                background: scroll repeat-x url("support/cat.png");
                width: 400px;
                height: 400px;
            }