#div1
            {
                height: 200px;
                overflow: scroll;
                width: 200px;
            }
            div div
            {
                background: repeat-x bottom scroll url("support/cat.png") green;
                height: 400px;
                width: 400px;
            }