div
            {
                background: url("support/blue15x15.png") bottom repeat-x;
                border: 3px solid black;
                height: 200px;
                width: 200px;
            }