#wrapper
            {
                background: green;
            }
            #test
            {
                background: red;
                background: inherit;
                height: 1in;
            }