#div1
            {
                height: 200px;
                overflow: scroll;
                width: 200px;
            }
            div div
            {
                background: fixed green url("support/cat.png");
                height: 300px;
                width: 300px;
            }