#div1
            {
                height: 200px;
                overflow: scroll;
                width: 200px;
            }
            div div
            {
                background: url("support/cat.png") bottom repeat-x scroll green;
                height: 400px;
                width: 400px;
            }