#div1
            {
                height: 200px;
                width: 200px;
                overflow: scroll;
            }
            div div
            {
                background: repeat-x bottom scroll url("support/cat.png");
                height: 400px;
                width: 400px;
            }