div
            {
                background: bottom left url("support/cat.png");
                border: 1px solid black;
                height: 150px;
                width: 196px;
            }