div
            {
                background: url("support/cat.png") bottom left;
                border: 1px solid black;
                height: 150px;
                width: 196px;
            }