div
            {
                font: 16px/1em Ahem;
            }
            #span1
            {
                margin-left: 6em;
            }
            #test
            {
                letter-spacing: 6em;
            }