body
            {
                margin-left: 50px;
            }
            #div1
            {
                border: 10px solid blue;
                display: list-item;
                padding: 50px;
                width: 200px;
            }
            div div
            {
                border: 10px solid orange;
                height: 200px;
            }