span
            {
                display: block;
            }
            #span1
            {
                border: 10px solid blue;
                padding: 50px;
                width: 200px;
            }
            span span
            {
                border: 10px solid orange;
                height: 200px;
            }