table
            {
                background: red;
                border-collapse: collapse;
            }
            tr
            {
                background: white;
            }
            td
            {
                width: 2em;
                height: 2em;
            }