table
            {
                background: blue;
                border-collapse: separate;
                border-spacing: 0 3px;
            }
            tbody
            {
                background: black;
            }
            td
            {
                height: 2em;
                width: 2em;
            }