div, table
            {
                font: 20px/1 Ahem;
            }
            div
            {
                background: black;
                height: 1em;
                left: 124px;
                position: relative;
                top: 1mm;
                width: 1mm;
            }
            table
            {
                border-spacing: 1mm;
            }
            td
            {
                padding: 0;
            }