div, table
            {
                font: 20px/1 Ahem;
            }
            div
            {
                background: black;
                height: 1em;
                left: 121px;
                position: relative;
                top: 1px;
                width: 1px;
            }
            table
            {
                border-spacing: 1px 0;
            }
            td
            {
                padding: 0;
            }