body
            {
                border-spacing: 1in;
            }
            div, table
            {
                font: 20px/1 Ahem;
            }
            div
            {
                background: black;
                height: 1em;
                left: 216px;
                position: relative;
                top: 1in;
                width: 1in;
            }
            table
            {
                border-spacing: inherit;
            }
            td
            {
                padding: 0;
            }