#test{
  display:table;
  width:500px;
  }
  .table-row{
  background:url(support/swatch-red.png) repeat-y 50% 0;
  display:table-row;
  }
  .table-cell{
  display:table-cell;
  height:100px;
  }
  .border-left{
  border-left:8px solid green;
  }
  .border-right{
  border-right:8px solid green;
  }