div
            {
                font: 20px/1 Ahem;
                height: 1in;
            }
            #reference
            {
                background-color: black;
                width: 120px;
                margin-top: 5px;
            }
            #test
            {
                border-right-style: solid;
                border-right-width: 6em;
                width: 0;
            }