div
            {
                border-right-style: solid;
                border-right-width: +0em;
                border-right-color: red;
                font: 20px/1 Ahem;
                height: 1in;
            }