div
            {
                height: 1in;
            }
            #reference
            {
                background-color: black;
                width: 1px;
                margin-top: 5px;
            }
            #test
            {
                border-right-style: solid;
                border-right-width: 1px;
                width: 0;
            }