div
            {
                position: relative;
            }
            #test
            {
                border: solid 1in;
                height: 0;
                width: 0;
            }
            #reference
            {
                background: red;
                height: 2in;
                left: 0;
                position: absolute;
                top: 0;
                width: 2in;
            }