#table
            {
                display: table;
            }
            #row
            {
                display: table-row;
                font-style: italic;
            }
            #cell
            {
                display: table-cell;
            }