#table
            {
                display: table;
            }
            #caption
            {
                display: table-caption;
                font-style: italic;
            }
            #row
            {
                display: table-row;
            }
            #cell
            {
                display: table-cell;
            }