td { vertical-align: top;}
   table { color: navy; }
   .two {border-bottom-width: thick; border-style: solid;}
   .three {border-bottom-width: medium; border-style: solid;}
   .four {border-bottom-width: thin; border-style: solid;}