#table, #caption
            {
                border: 1px solid black;
                padding: 1em;
            }
            #caption, #cell
            {
                height: 4em;
                width: 4em;
            }
            #table
            {
                display: table;
                margin-top: 1em;
            }
            #caption
            {
                display: table-caption;
                margin-bottom: 1em;
            }
            #row
            {
                display: table-row;
            }
            #cell
            {
                display: table-cell;
            }