table
            {
                border-collapse: separate;
                border-spacing: 25px;
                background: blue;
            }
            colgroup
            {
                background-color: orange;
            }
            col
            {
                background-color: orange;
            }
            tbody
            {
                background-color: black;
            }
            tr
            {
                background-color: black;
            }