table
            {
                border-left: 10px solid black;
                border-spacing: 50px 0;
                padding-left: 50px;
            }
            td
            {
                background: black;
                height: 1em;
                padding: 0;
                width: 10px;
            }
            div
            {
                background: blue;
                height: 1em;
                width: 120px;
            }