p { margin: 1em 0; }
   .zero { background: red url(support/css1test62-outer.png) no-repeat; width: 12em; font: 15px/1 Ahem; border: solid black; color: green ; }
   .one { margin-left: 25%; margin-right: 25%; background: red url(support/css1test62-inner.png) no-repeat; }
   .two { margin-left: 50%; margin-right: 0%; background: red url(support/css1test62-inner.png) no-repeat; }
   .three { margin-left: 25%; }