div
            {
                background: black;
                display: inline-block;
                height: 3in;
                max-height: 1in;
                width: 1in;
            }