#table
            {
                display: table;
                table-layout: fixed;
            }
            #row
            {
                display: table-row;
            }
            #cell
            {
                background: black;
                display: table-cell;
                height: 3in;
                max-height: 1in;
                width: 1in;
            }