div
            {
                font: 100px Ahem;
            }
            div div
            {
                background: black;
                float: left;
                width: 1em;
            }
            #test
            {
                background: blue;
                color: blue;
                line-height: normal;
            }
            #one
            {
                height: 1em;
            }
            #onepointtwo
            {
                height: 1.2em;
            }