div
            {
                display: inline-block;
                font: 20px/1 Ahem;
                width: 1in;
            }
            #reference
            {
                background-color: black;
                height: 120px;
                margin-left: 5px;
            }
            #test
            {
                border-top-style: solid;
                border-top-width: 6em;
                height: 0;
            }