#table
            {
                display: table;
                table-layout: fixed;
            }
            #row
            {
                color: green;
                display: table-row;
            }
            #cell
            {
                display: table-cell;
                height: 1in;
                width: 1in;
            }