#table
            {
                display: table;
                table-layout: fixed;
            }
            #row
            {
                display: table-row;
            }
            #cell
            {
                border-left-style: solid;
                border-left-color: green;
                display: table-cell;
                height: 1in;
            }