table
            {
                background: blue;
            }
            td
            {
                background: blue;
                height: 1in;
                width: 2in;
            }