.test { direction: rtl; unicode-bidi: bidi-override; }
.test div { display: inline; unicode-bidi: normal; } /* default HTML stylesheet sets unicode-bidi */

/* the CSS below is not part of the test */
.test { font-size: 28px; font-family: serif; }
img { margin-left: 14px; margin-right: 10px;  }