.test { direction: rtl; }  .test span { unicode-bidi: bidi-override; }

/* the CSS below is not part of the test */
.test { font-size: 28px; font-family: serif; }
img { margin-left: 14px; margin-right: 10px;  }