body { color: navy; }
   .four {list-style-type: lower-roman;}
   .five {list-style-type: upper-roman;}
   .six {list-style-type: lower-alpha;}
   .seven {list-style-type: upper-alpha;}
   .eight {list-style-type: decimal;}