div
            {
                background: blue;
                height: 1in;
                padding-top: 5px;
                width: 1in;
            }
            div div
            {
                background: orange;
                height: 0.5in;
                width: 2in;
            }