div
            {
                border: solid black;
                padding: 1in;
                position: absolute;
                width: 0;
            }
            span
            {
                display: block;
            }
            #span1
            {
                direction: rtl;
            }
            span span
            {
                background: blue;
                height: 1in;
                position: absolute;
                width: 1in;
            }