@media print
            {
                #print
                {
                    display: none;
                }
                p
                {
                    margin-top: 1.1in;
                    page-break-after: always;
                }
                div
                {
                    border: solid black;
                    height: 1in;
                    left: 0;
                    position: absolute;
                    top: 0;
                    width: 1in;
                }
            }