div
            {
                background: red;
                height: 1in;
                width: 1in;
            }
            div div
            {
                background: green;
            }