#div1
            {
                background: red;
                display: block;
                height: 100px;
                width: 100px;
            }
            div div
            {
                background: green;
                height: 100%;
                position: relative;
                width: 100%;
            }