#div1, #div2
            {
                margin: 1in;
            }
            #div3
            {
                background: blue;
                height: 1in;
                left: 0;
                position: absolute;
                bottom: 0;
                width: 1in;
            }