#div1
            {
                background: red;
                display: inline-block;
                height: 100px;
                width: 100px;
            }
            div div
            {
                background: green;
                height: 100%;
                position: static;
                width: 100%;
            }