table {border-spacing: 0; margin-bottom: 1em;}
      table.test {direction:rtl;}
      td.a {background-color: navy; color: navy;}
      td.b {background-color: magenta; color: magenta;}
      td.c {background-color: cyan; color: cyan;}