#wrapper
            {
                border: 3px solid orange;
            }
            #div1
            {
                background: blue;
                left: 1in;
                position: static;
                top: 1in;
            }