p
            {
                float: left;
            }
            div
            {
                background: green;
                display: inline-block;
                clear: both;
                height: 1in;
                width: 1in;
            }