.test { background-color: yellow; color: orange; margin: 1em 0; width: 10em; font: 16px/1 Ahem; }
   .one { margin-top: 25px; background-color: lime; }
   .two { margin-top: -10px; background-color: lime; }
   img.b { border: 16px yellow; border-style: solid none; }