div
            {
                font: 16px/1em Ahem;
            }
            span
            {
                display: inline-block;
                text-indent: 10em;
            }
            #div1
            {
                background: blue;
                height: 1em;
                margin-left: 10em;
                width: 5em;
            }