div
            {
                font: 16px/1em Ahem;
            }
            #div1
            {
                display: inline;
                text-indent: 10em;
            }
            #div2
            {
                background: blue;
                height: 1em;
                width: 5em;
            }