* { font: 1em serif; }
   .a { position: absolute; z-index: 2; top: 2em; left: 2em; width: 13em; background: green; color: white; padding: 1em; }
   .b { position: absolute; z-index: 1; top: 2.5em; left: 2.5em; background: red; color: yellow; height: 3em; }