.container { width: 5em; }
   .test { margin-left: 0; border-left: none; padding-left: 2em; width: auto; padding-right: 2em; border-right: none; margin-right: 0; }
   .control { margin-left: 0; border-left: none; padding-left: 0; width: 5em; padding-right: 0; border-right: none; margin-right: 0; }
   div { background: navy; height: 1em; }