.container { width: 5em; }
   .test { margin-left: 0; border-left: 2em solid; padding-left: 0; width: auto; padding-right: 0; border-right: 2em solid; margin-right: 0; }
   .control { margin-left: 0; border-left: none; padding-left: 0; width: 5em; padding-right: 0; border-right: none; margin-right: 0; }
   .body div { background: navy; border-color: navy; height: 1em; } /* need .body to increase specificity */