#div1
            {
                background: orange;
                height: 1in;
                width: 1in;
            }
            #div2
            {
                display: inline;
                font-family: Ahem;
                font-size: 1in;
            }