span
            {
                background: orange;
                direction: rtl;
                display: block;
                font: 0.5in/1em Ahem;
                height: 1in;
                width: 1in;
            }