body
            {
                margin-left: 1em;
            }
            div
            {
                background: orange;
                direction: rtl;
                display: list-item;
                font: 0.5in/1em Ahem;
                height: 1in;
                width: 1in;
            }