div
            {
                display: inline-block;
                list-style-type: square;
                margin-left: 1in;
            }
            span
            {
                display: list-item;
            }