div
            {
                display: inline;
                list-style-type: square;
            }
            span
            {
                display: list-item;
                margin-left: 1in;
            }