.container {
      height: 100px;
      width: 100px;
      background: red;
    }
    .outer {
      height: 100px;
    }
    .inner {
      display: block;
      height: inherit;
      background: green;
    }