div
            {
                position: relative;
            }
            div div
            {
                border: solid green;
                height: 150px;
                position: absolute;
                top: 1in;
                width: 300px;
            }
            iframe
            {
                border: solid red;
                bottom: 1in;
                height: auto;
                margin-bottom: auto;
                margin-top: 0.5in;
                position: absolute;
                top: 0.5in;
                width: auto;
            }