.container {
      position: relative;
      width: 45px;
      height: 45px;
      /* Uncomment for debugging:
         border: solid silver;
         background: aqua; */
    }
    .abspos {
      position: absolute;
      top: 0; bottom: 0;
      background: red;
    }
    .one {
      margin: auto;
      left: 0;
    }
    .two {
      margin-top: auto;
      left: 15px;
    }
    .three {
      margin-bottom: auto;
      right: 0;
    }
    .control1 {
      height: 15px;
      border-right: 15px solid red;
    }
    .control2 {
      height: 15px;
      border-left: 15px solid red;
    }
    .control3 {
      height: 15px;
      margin: 0 15px;
      background: red;
    }