div
            {
                border-bottom: solid orange;
                border-top: solid orange;
                height: 15px;
                line-height: 0;
                width: 1in;
            }
            img
            {
                margin-bottom: auto;
                margin-top: auto;
                position: absolute;
            }