div
            {
                line-height: 0;
                position: relative;
            }
            div div
            {
                background: orange;
                height: 1in;
                left: 1in;
                position: absolute;
                top: 0;
            }
            img
            {
                height: auto;
                position: absolute;
            }
            div div, img
            {
                width: 1in;
            }