#div1
            {
                border-top: solid black;
                position: relative;
            }
            div div
            {
                background: blue;
                height: 1in;
                left: 1in;
                position: absolute;
                top: 1in;
            }
            img
            {
                bottom: 1in;
                height: auto;
                margin-bottom: 0.5in;
                margin-top: 0.5in;
                position: absolute;
                top: 0.5in;
            }
            div div, img
            {
                width: 1in;
            }