#div1
            {
                background: red;
                height: 1in;
                left: 0;
                position: absolute;
                top: 0;
                width: 1in;
                z-index: -0;
            }
            #div2
            {
                background: green;
                height: 1in;
                left: 0;
                position: absolute;
                top: 0;
                width: 1in;
            }
            #wrapper
            {
                position: relative;
            }