span
            {
                display: block;
                width: 200px;
            }
            #span1
            {
                border-bottom: 10px solid blue;
                padding-bottom: 50px;
            }
            span span
            {
                border-bottom: 10px solid orange;
            }