body
            {
                border-style: dashed;
                border-width: 0;
            }
            div
            {
                border-style: inherit;
                height: 1in;
            }