div
            {
                height: 0;
            }
            #div1
            {
                border-top: 5px solid blue;
                padding-bottom: +0mm;
            }
            #div2
            {
                border-bottom: 5px solid orange;
            }