div
            {
                height: 0;
            }
            #wrapper
            {
                padding-bottom: 1in;
            }
            #div1
            {
                border-top: 1in solid red;
                padding-bottom: inherit;
            }
            #div2
            {
                border-bottom: 1in solid black;
                margin-top: -2in;
            }