#table
            {
                background: blue;
                display: table;
            }
            #col
            {
                background: orange;
                display: table-column;
            }
            #row
            {
                display: table-row;
            }
            #row div
            {
                display: table-cell;
                height: 1in;
                width: 1in;
            }