#table
            {
                background: orange;
                display: table;
            }
            #columngroup1, #columngroup2
            {
                display: table-column-group;
            }
            #columngroup2
            {
                background: blue;
            }
            .column
            {
                display: table-column;
            }
            #row
            {
                display: table-row;
            }
            .cell
            {
                display: table-cell;
                height: 1in;
                width: 1in;
            }