html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}
div {
    height: 50%;
    border-bottom: medium red solid;
}
.test {
    position: absolute;
    top: 49.5%;
    bottom: 49.5%;
    right: 0;
    left: 0;
    background: blue;
    border: 0;
    height: auto;
}
p {
    margin-top: 0;
}