object {
      border: solid 20px red;
      background: green;
      width: 60px;
    }
    .control {
      position: absolute;
      border: solid 20px green;
      height: 60px;
      width: 60px;
    }