.one {border-color: green; border-style: solid;}
   .two {border-color: green; border-width: medium; border-style: solid;}
   .three {border-color: purple green blue yellow; border-width: 2em; border-style: solid;}