#table
            {
                border: solid;
                display: table;
                width: 100%;
            }
            #test
            {
                display: table-header-group;
                text-align: right;
            }
            #row
            {
                display: table-row;
            }
            #cell
            {
                display: table-cell;
            }