@page :first {
        margin: 7%;
    }
    @page :left {
        margin-left: 50%;
        margin-right: 7%;
    }
    @page :right {
        margin-right: 33%;
        margin-left: 7%;
    }
    div {
        margin-bottom: 2em;
        width: 98%
    }
    .edged {
        border: medium solid blue;
        background: #ececff;
        padding: 1%;
        page-break-after: always;
    }
 
  .style1 {
    background-color: #ececff;
}