.inner {
     background: transparent -15px -15px url(support/swatch-teal.png) repeat-x scroll;
     border: 10px dotted silver;
     overflow: auto; height: 80px; width: 180px;
     white-space: pre; font-size: 16px;
     margin: -10px;
   }
   .outer {
     border: 10px solid teal;
     border-top-color: red;
     background: aqua;
     width: 180px;
   }
   ul { color: navy; }