.outer {
     background: red url(support/bordered-rectangle.png) -5px -5px scroll;
     border: 10px dotted;
     overflow: auto; height: 190px; width: 390px;
     white-space: pre; font-size: 16px;
     text-align: center;
   }
   .inner {
     background: orange url(support/cat.png) scroll no-repeat;
     border: 10px dotted yellow; margin: 0 auto;
     overflow: auto; height: 99px; width: 98px;
     color: orange;
   }
   ul { color: navy; }