html, body
            {
                overflow: scroll;
            }
            div
            {
                position: relative;
            }
            div div
            {
                width: 1in;
            }
            #div1 div
            {
                background: blue;
                height: 2in;
            }
            #div2
            {
                background: orange;
                height: 2in;
                left: 1in;
                position: absolute;
                top: 0;
            }