div
            {
                line-height: 0;
                position: relative;
            }
            div div
            {
                background: orange;
                height: 15px;
                left: 15px;
                position: absolute;
                top: 0;
                width: 15px;
            }
            img
            {
                display: inline;
                height: auto;
                width: auto;
            }