#test
            {
                border-top-style: dashed;
                display: table-caption;
                width: 1in;
            }
            #table
            {
                display: table;
            }
            #row
            {
                display: table-row;
            }
            #cell
            {
                display: table-cell;
            }