div
            {
                font: 20px/1 Ahem;
                position: relative;
            }
            #div2
            {
                background: black;
                min-height: 6ex;
                width: 1in;
            }
            #div3
            {
                border-top: 96px solid black;
                left: 99px;
                position: absolute;
                top: 0;
                width: 1in;
            }