div
            {
                position: relative;
            }
            #div2
            {
                background: black;
                min-height: 25.4mm;
                width: 1in;
            }
            #div3
            {
                border-top: 25.4mm solid black;
                left: 1.1in;
                position: absolute;
                top: 0;
                width: 1in;
            }