div
            {
                position: relative;
            }
            #div2
            {
                background: black;
                min-height: 2.54cm;
                width: 1in;
            }
            #div3
            {
                border-top: 2.54cm solid black;
                left: 100px;
                position: absolute;
                top: 0;
                width: 1in;
            }