#div1
            {
                height: 1in;
            }
            div div
            {
                background: red;
                height: 0;
                min-height: -1%;
            }