div#test-red-overlapped
  {
  background-color: red;
  color: red;
  font: 100px/1 Ahem;
  min-height: 200px;
  overflow: auto;
  width: 200px;
  }

  div#control-green-overlapping
  {
  background-color: green;
  height: 200px;
  position: relative;
  top: -200px;
  width: 200px;
  }