div
            {
                font: 20px/1em Ahem;
                width: 5em;
            }
            #div1
            {
                background: url('support/margin-collapse-4em-space.png');
                height: 6em;
            }
            #div2
            {
                margin-bottom: 2em;
            }
            #div3, #div5
            {
                margin-bottom: 1em;
            }
            #div3, #div6
            {
                background: green;
                height: 1em;
            }
            #div4
            {
                float: left;
                height: 1em;
            }
            #div5
            {
                clear: both;
                margin-top: 1.5em;
            }