table, td { padding: 0; border-spacing: 0; }
   .comparator { border-spacing: 1em; }
   .test, .control { border: solid; background: red; }

   .test .container { display: block; background: yellow; margin: 0; width: 8em; }
   .test .block { display: block; border-top: 1em solid lime;  margin: 0 0 0 0; }
   .test .clear { display: block; border-top: 1em solid green; margin: 1em 0 0 0; clear: right; }

   .control .lime { background: lime; height: 1em; width: 8em; }
   .control .yellow { background: yellow; height: 1em; width: 8em; }
   .control .green { background: green; height: 1em; width: 8em; }