.test { border: solid; background: red; width: 8em; }
   .container { background: lime; }
   .float { float: left; height: 4em; width: 4em; background: aqua; }
   .empty { margin: 1em; background: red; }
   .clear { clear: left; border-bottom: 4em solid yellow; background: red; }
   .a .clear { margin-top: 0em; }
   .b .clear { margin-top: 1em; }
   .c .clear { margin-top: 2em; }