p {margin: 8px 0px 0px;}

  div#overlapped-red
  {
  background-color: red;
  height: 300px;
  position: absolute;
  width: 300px;
  z-index: -1;
  }

  div#overlapping-green-container
  {
  background-color: green;
  width: 300px;
  }

  div#floated-left
  {
  float: left;
  height: 100px;
  }

  div#clear-left {clear: left;}

  div#following-sibling
  {
  height: 50px;
  margin-top: 150px;
  }