div
            {
                font: 20px/0 Ahem;
                width: 5em;
            }
            #div1
            {
                background: url('support/margin-collapse-2em-space.png');
                height: 4em;
            }
            div div
            {
                background: green;
                display: inline-block;
                height: 1em;
            }
            #div2
            {
                margin-bottom: 1em;
            }
            #div3
            {
                margin-top: 1em;
            }