table, td { padding: 0; border-spacing: 0; }
   .comparator { border-spacing: 1em; }
   .test, .control { background: red; }
   .test .container { display: block; margin: 0; width: 6em; background: yellow; border: solid; }
   .test .float { float: left; margin: 0; height: 2em; width: 3em; background: orange; }
   .test .empty { display: block; background: red; margin: 2em 0; }
   .test .clear { clear: left; display: block; border-top: 2em solid orange; margin-top: 1em; }
   .control table { border: solid; }
   .control .square { height: 2em; width: 3em; }
   .control .thin { height: 2em; width: 6em; }
   .control .thick { height: 2em; width: 6em; }
   .control .yellow { background: yellow; }
   .control .orange { background: orange; }