table
            {
                border-spacing: 3px;
                border-style: none;
            }
            td
            {
                background: black;
                border: 3px solid black;
            }