div
            {
                background-image: url('support/blue15x15.png');
                background-position: bottom right;
                background-repeat: no-repeat;
                border: solid black;
                display: list-item;
                height: 1in;
                margin-left: 2em;
                width: 1in;
            }