div
            {
                width: 100px;
                height: 100px;
                background-color: green;
            }
            span
            {
                display: none;
                width: 0;
                min-width: 100px;
                height: 100px;
                background-color: red;
            }