#div1
            {
                width: 0.5in;
            }
            div div
            {
                background: black;
                display: list-item;
                height: 1in;
                margin-left: 2em;
                min-width: 1in;
            }