div
            {
                counter-increment: test 5;
                display: inline;
            }
            div:before
            {
                content: counter(test);
            }