div
  {
  font: 200px/1 Ahem;
  overflow: auto;
  width: 200px;
  }

  #test-red-overlapped
  {
  color: red;
  float: left;
  max-height: 200px;
  }

  #control-green-overlapping
  {
  clear: left;
  color: green;
  height: 200px;
  position: relative;
  top: -200px;
  }