div#test-red-overlapped
  {
  color: red;
  font: 200px/1 Ahem;
  max-height: 200px;
  overflow: scroll;
  width: 200px;
  }

  div#control-green-overlapping
  {
  background-color: green;
  height: 200px;
  position: relative;
  top: -200px;
  width: 200px;
  }