div { font: 24px/1 Ahem; width: 18em; color: blue; }
   .one {text-indent: 0.25in;}
   .two {text-indent: 0.635cm;}
   .three {text-indent: 6.35mm;}
   .four {text-indent: 18pt;}
   .five {text-indent: 1.5pc;}
   .six {text-indent: 1em;}
   .seven {text-indent: 1.25ex;}
   .eight {text-indent: 24px;}