.testDiv { position: relative; width: 100px; height: 100px; }
    #green { top: 100px; background: green; }
    #red { top: inherit; background: red; display: block; }
    #parent { position: relative; top: 50px; }
    body > p { position: absolute; font-size: medium; }
    #grandparent { position: absolute; top: 0; }
    body { font-size: 0; line-height: 0; position: relative; }