#table
            {
                display: table;
            }
            #test
            {
                background: blue;
                display: table-row-group;
            }
            .row
            {
                display: table-row;
            }
            .cell
            {
                display: table-cell;
            }