#table
            {
                display: table;
            }
            #row
            {
                display: table-row;
            }
            #row div
            {
                display: table-cell;
            }