div
            {
                direction: rtl;
                height: 1in;
                width: 0;
            }
            #wrapper
            {
                border-right: 1pc solid red;
            }
            #div1
            {
                margin-right: 6pc;
            }
            #div2
            {
                border-right: 1pc solid black;
                margin-right: -7pc;
            }