div
            {
                direction: rtl;
                height: 1in;
            }
            #wrapper
            {
                border-right: 0.5in solid red;
                width: 1in;
            }
            #div1
            {
                margin-right: 50%;
            }
            #div2
            {
                border-right: 0.5in solid black;
                margin-right: -1in;
            }