#div1
            {
                float: left;
            }
            div div
            {
                background-color: green;
                max-width: 50%;
                width: 2in;
            }