div#left-floated-square
  {
  color: blue;
  float: left;
  font: 100px/1 Ahem;
  }

  div#non-positioned-block-square-after
  {
  background-color: black;
  height: 200px;
  width: 200px;
  }