#div1
            {
                border: 2px solid orange;
                width: 500px;
            }
            #div2
            {
                float: right;
                background: blue;
                height: 1in;
                width: 1in;
            }