div { font: 20px/40px Ahem; color: white; background: red url(support/css1test44c.png) no-repeat;
         width: 14em; padding: 0.5em 1em; border: 1em solid green; }
   img.twoc { vertical-align: middle; width: 2em; height: 2em;
              padding: 0.9em 0.5em 0.1em; border: solid 1em; margin: -1.5em -0.5em -1.7em; }