span
            {
                display: block;
                quotes: "P" "S" "A" "S";
            }
            span:before
            {
                content: open-quote open-quote close-quote close-quote;
            }