div:before
            {
                content: open-quote open-quote open-quote open-quote open-quote open-quote open-quote open-quote open-quote open-quote open-quote open-quote open-quote open-quote open-quote open-quote open-quote open-quote open-quote open-quote;
            }
            div:after
            {
                content: close-quote close-quote close-quote close-quote close-quote close-quote close-quote close-quote close-quote close-quote close-quote close-quote close-quote close-quote close-quote close-quote close-quote close-quote close-quote close-quote;
            }
            div
            {
                quotes: "A" "b" "B" "a" "C" "|" "D" "*" "E" "0" "F" "9" "G" "8" "H" "7" "I" "6" "J" "5" "K" "4" "L" "3" "M" "2" "N" "1" "O" "Z" "P" "Y" "Q" "X" "R" "W" "S" "V" "T" "U";
                border: 2px solid black;
            }