div:before
            {
                content: open-quote open-quote open-quote open-quote open-quote open-quote open-quote open-quote open-quote open-quote open-quote open-quote;
            }
            div:after
            {
                content: close-quote close-quote close-quote close-quote close-quote close-quote close-quote close-quote close-quote close-quote close-quote close-quote;
            }
            div
            {
                quotes: "A" "X" "B" "W" "C" "V" "D" "U" "E" "T" "F" "S" "G" "R" "H" "Q" "I" "P" "J" "O" "K" "N" "L" "M";
                border: 2px solid black;
            }