div:before
            {
                content: open-quote open-quote open-quote open-quote open-quote open-quote open-quote open-quote open-quote open-quote open-quote open-quote open-quote open-quote open-quote open-quote open-quote open-quote open-quote open-quote open-quote open-quote open-quote open-quote open-quote open-quote open-quote open-quote;
            }
            div:after
            {
                content: close-quote close-quote close-quote close-quote close-quote close-quote close-quote close-quote close-quote close-quote close-quote close-quote close-quote close-quote close-quote close-quote close-quote close-quote close-quote close-quote close-quote close-quote close-quote close-quote close-quote close-quote close-quote close-quote;
            }
            div
            {
                quotes: "A" "r" "B" "q" "C" "p" "D" "o" "E" "n" "F" "m" "G" "l" "H" "k" "I" "j" "J" "i" "K" "h" "L" "g" "M" "f" "N" "e" "O" "d" "P" "c" "Q" "b" "R" "a" "S" "|" "T" "*" "U" "0" "V" "9" "W" "8" "X" "7" "Y" "6" "Z" "5" "1" "4" "2" "3";
                border: 2px solid black;
            }