div:before
            {
                content: open-quote open-quote open-quote open-quote open-quote open-quote open-quote open-quote open-quote open-quote open-quote open-quote open-quote open-quote open-quote open-quote open-quote open-quote open-quote open-quote open-quote open-quote;
            }
            div:after
            {
                content: close-quote close-quote close-quote close-quote close-quote close-quote close-quote close-quote close-quote close-quote close-quote close-quote close-quote close-quote close-quote close-quote close-quote close-quote close-quote close-quote close-quote close-quote;
            }
            div
            {
                quotes: "A" "f" "B" "e" "C" "d" "D" "c" "E" "b" "F" "a" "G" "|" "H" "*" "I" "0" "J" "9" "K" "8" "L" "7" "M" "6" "N" "5" "O" "4" "P" "3" "Q" "2" "R" "1" "S" "Z" "T" "Y" "U" "X" "V" "W";
                border: 2px solid black;
            }