div:before
            {
                content: open-quote open-quote open-quote open-quote open-quote open-quote open-quote open-quote open-quote open-quote open-quote open-quote open-quote open-quote open-quote open-quote open-quote open-quote;
            }
            div:after
            {
                content: close-quote close-quote close-quote close-quote close-quote close-quote close-quote close-quote close-quote close-quote close-quote close-quote close-quote close-quote close-quote close-quote close-quote close-quote;
            }
            div
            {
                quotes: "A" "0" "B" "9" "C" "8" "D" "7" "E" "6" "F" "5" "G" "4" "H" "3" "I" "2" "J" "1" "K" "Z" "L" "Y" "M" "X" "N" "W" "O" "V" "P" "U" "Q" "T" "R" "S";
                border: 2px solid black;
            }