div:before
            {
                content: open-quote open-quote open-quote open-quote open-quote open-quote open-quote open-quote open-quote;
            }
            div:after
            {
                content: close-quote close-quote close-quote close-quote close-quote close-quote close-quote close-quote close-quote;
            }
            div
            {
                quotes: "A" "R" "B" "Q" "C" "P" "D" "O" "E" "N" "F" "M" "G" "L" "H" "K" "I" "J";
                border: 2px solid black;
            }