div:before
            {
                content: open-quote open-quote open-quote open-quote open-quote open-quote open-quote open-quote open-quote open-quote open-quote open-quote open-quote open-quote open-quote open-quote open-quote open-quote open-quote open-quote open-quote open-quote open-quote open-quote open-quote open-quote open-quote open-quote open-quote;
            }
            div:after
            {
                content: close-quote close-quote close-quote close-quote close-quote close-quote close-quote close-quote close-quote close-quote close-quote close-quote close-quote close-quote close-quote close-quote close-quote close-quote close-quote close-quote close-quote close-quote close-quote close-quote close-quote close-quote close-quote close-quote close-quote;
            }
            div
            {
                quotes: "A" "t" "B" "s" "C" "r" "D" "q" "E" "p" "F" "o" "G" "n" "H" "m" "I" "l" "J" "k" "K" "j" "L" "i" "M" "h" "N" "g" "O" "f" "P" "e" "Q" "d" "R" "c" "S" "b" "T" "a" "U" "|" "V" "*" "W" "0" "X" "9" "Y" "8" "Z" "7" "1" "6" "2" "5" "3" "4";
                border: 2px solid black;
            }