div
            {
                width: 1in;
            }
            #div1
            {
                position: relative;
            }
            div div
            {
                background: red;
                min-height: 50%;
            }