caption
            {
                color: blue;
            }
            td
            {
                border: 1px solid blue;
                height: 5em;
                vertical-align: middle;
                width: 10em;
            }
            th
            {
                border: 1px solid blue;
                height: 5em;
                vertical-align: baseline;
                width: 10em;
             }