div
            {
                height: 1in;
            }
            #div1
            {
                border: 3px solid orange;
                width: 1.16in;
            }
            div div
            {
                background-image: url("support/black15x15.png");
                background-position: 72pt;
                background-repeat: no-repeat;
                width: 2in;
            }