#red-overlapped-layer
  {
  background-color: red;
  height: 300px;
  position: absolute;
  width: 300px;
  }

  #red-parent
  {
  background-color: red;
  clip: rect(0, 100px, 100px, 0);
  height: 200px;
  position: absolute;
  width: 200px;
  }

  #green-child
  {
  background-color: green;
  height: 300px;
  width: 300px;
  }