div
            {
                height: 1in;
                width: 1in;
            }
            #div1
            {
                background: red;
            }
            div div
            {
                background: green;
                clip: rect(auto, auto, auto, auto);
                position: absolute;
            }