div
            {
                background: red;
                clip: rect(0ex, 0ex, 0ex, 0ex);
                font: 20px/1 Ahem;
                height: 1in;
                position: absolute;
                width: 1in;
            }