div
            {
                background: red;
                clip: rect(+0pc, +0pc, +0pc, +0pc);
                height: 1in;
                position: absolute;
                width: 1in;
            }