ol { list-style-type: lower-greek; }

/* the CSS below is not part of the test */
.test { font-size: 24px; font-family: sans-serif; }
ol { margin: 0; padding-left: 8em; }
.alt { color: #ff6633; margin-left: 40px;}