#div1
            {
                border: solid 5px black;
                height: 232px;
                width: 232px;
            }
            div div
            {
                background: blue;
                float: left;
                height: 96px;
                margin: 10px;
                width: 96px;
            }