div
            {
                border: solid 5px black;
                height: 2in;
                width: 2in;
            }
            span
            {
                height: 1in;
                width: 1in;
            }
            #span1
            {
                background: blue;
                float: left;
                margin-right: 10px;
            }
            #span2
            {
                background-color: orange;
                float: right;
                margin-left: 10px;
            }