.control { display: inline; font: 1em/1 Ahem, sans-serif; background: red; color: white; }
   .test { display: block; width: 200px; height: 50px; background: red; }
   .float { float: left; background: green; color: green; font: 50px Ahem; }