.control { display: inline; font: 1em/1 Ahem, sans-serif; background: red; color: white; }
   .container { font: 30px/1 Ahem; color: green; margin: 0; padding: 0; border: 0;
                background: url(support/60x60-red.png) no-repeat;
                text-indent: 0; }
   .float { width: 1em; height: 1em; background: green; float: left;
            margin: 0; padding: 0; border: 0; }