p { color: blue; }
   .container { width: 20em; }
   .float { float: left; padding: 0.2em; margin: 0.2em; border: thin solid; }
   .a { color: fuchsia; width: 12em; }
   .b { color: orange; width: 8em; }
   .c { color: orange; width: 4em; }