.control { display: inline; font: 1em/1 Ahem, sans-serif; background: red; color: white; }
   .container { width: 15em; height: 5em; background: green; }
   .float { width: 5em; height: 5em; background: green; float: left; }
   .box { width: 5em; height: 5em; background: red; margin: 0; padding: 0; border: 0; }