#div1
            {
                direction: rtl;
                height: 2in;
                width: 3in;
            }
            #span1
            {
                color: orange;
                font: 1in/1 Ahem;
            }
            .class1
            {
                background-color: blue;
                float: right;
                height: 1in;
                width: 1in;
            }