p { color: blue; }
   .container { width: 20em; }
   .float { padding: 0.2em; margin: 0.2em; border: thin solid; }
   .a { color: fuchsia; width: 12em; float: left; }
   .b { color: orange; width: 14em; float: left; }
   .c { color: orange; width: 4em; float: right; }