#d1
            {
                border: solid 5px black;
                margin: 10px;
                height: 150px;
            }
            #span1, img
            {
                height: 1in;
                width: 1in;
            }
            #span1
            {
                background-color: orange;
                float: left;
                margin-top: 10px;
                padding-top: 10px;
            }