div
            {
                border: solid 5px black;
                font: 16px serif;
                margin: 10px;
                width: 550px;
            }
            #span1
            {
                background-color: orange;
                float: left;
            }
            #span1, img
            {
                height: 0.5in;
                width: 1in;
            }
            span span
            {
                display: inline-block;
                width: 550px;
            }