div
            {
                width: 2.25in;
            }
            #span1
            {
                background-color: blue;
                float: left;
                height: 1in;
                width: 1in;
            }