div
            {
                border: solid 5px black;
                height: 2in;
                margin: 0.5in;
                width: 2in;
            }
            span
            {
                background-color: blue;
                float: left;
                height: 1in;
                width: 1in;
            }