.control { display: inline; font: 1em/1 Ahem, sans-serif; background: red; color: white; }
   .container { font: 20px/1 Ahem; width: 8em; height: 2em; background: red; }
   .box { height: 1em; background: green; color: lime; }
   .float { width: 1em; height: 1em; float: left; background: green; }