#div1
            {
                width: 1in;
            }
            div div
            {
                background: red;
                height: 1in;
                width: 0;
                width: -1%;
            }