div
            {
                height: 1in;
                width: 1in;
            }
            #test
            {
                border-top-style: solid;
                border-top-width: 1in;
                border-top-color: yellow;
                height: 0;
            }
            #reference
            {
                background-color: yellow;
                margin-top: 10px;
            }