body
            {
                background-color: black;
            }
            p
            {
                color: white;
            }
            div
            {
                height: 1in;
                width: 1in;
            }
            #test
            {
                border-top-style: solid;
                border-top-width: 1in;
                border-top-color: rgb(+255, +255, +255);
                height: 0;
            }
            #reference
            {
                background-color: rgb(255, 255, 255);
                margin-top: 10px;
            }