img, #test
            {
                height: 1in;
                width: 1in;
            }
            #test
            {
                background-color: rgb(128, 128, 128);
            }