div
            {
                height: 1in;
                width: 1in;
            }
            #wrapper
            {
                background-color: green;
            }
            #test
            {
                background-color: transparent;
            }