body
            {
                counter-reset: chapter;
            }
            div p:before
            {
                content: counters(chapter,".");
                counter-increment: chapter;
            }