body
            {
                counter-reset: chapter;
            }
            div:before
            {
                content: counter(chapter);
                color: green;
                counter-increment: chapter;
            }