div
            {
                height: 1in;
                width: 1in;
            }
            #test
            {
                border-right-style: solid;
                border-right-width: 1in;
                border-right-color: rgb(0%, 0%, 100%);
            }
            #reference
            {
                background-color: rgb(0%, 0%, 100%);
                margin-top: 10px;
            }