div
            {
                height: 1in;
                width: 1in;
            }
            #test
            {
                border-right-style: solid;
                border-right-width: 1in;
                border-right-color: #0f0;
            }
            #reference
            {
                background-color: #0f0;
                margin-top: 10px;
            }