html { background: bottom right url(support/square-purple.png) fixed white no-repeat; color: black; }
   html, body { margin: 0; border: 0; padding: 0; }
   p { margin-bottom: 2em; }
   pre { line-height: 3em; letter-spacing: 3em; color: silver; white-space: normal; margin: -5em; }