.table
            {
                display: table;
            }
            .caption
            {
                border: 1px solid black;
                background: orange;
                caption-side: top;
                color: orange;
                display: table-caption;
                height: 4em;
                width: 4em;
            }
            #thead
            {
                display: table-header-group;
                background: blue;
            }
            #tbody
            {
                display: table-row-group;
                background: orange;
            }
            .tr
            {
                display: table-row;
            }
            .td
            {
                display: table-cell;
                border: 1px solid black;
                height: 4em;
                width: 4em;
            }