.table
            {
                display: table;
            }
            .thead
            {
                display: table-header-group;
            }
            .tbody
            {
                display: table-row-group;
            }
            .tr
            {
                display: table-row;
            }
            .td
            {
                border: 1px solid black;
                color: blue;
                display: table-cell;
                font-size: 3em;
                width: 1em;
            }