table
            {
                border: 10px outset;
                border-collapse: separate;
            }
            td
            {
                width: 6em;
                height: 3em;
            }