div
            {
                background: green;
                right: 0;
                display: list-item;
                height: 1in;
                position: absolute;
                width: 1in;
            }