.control { display: inline; font: 1em/1 Ahem, sans-serif; background: red; color: white; }
   div { margin: 4px 0; }
   .border { border-top: solid 20px blue; width: 600px; }
   .font { font: 10px/1 Ahem; color: blue; }
   .inner { font-size: 2em; }