#container
            {
                border-collapse: collapse;
            }
            #table
            {
                background: red;
                border-spacing: 10px;
                border-style: none;
                display: table;
            }
            .row
            {
                display: table-row;
            }
            .cell
            {
                background: black;
                border: 3px solid black;
                display: table-cell;
            }