html, body { margin: 0; border: 0; padding: 0; }
   .control { color: yellow; background: red; width: 10em; }
   .overflow { width: 8em; height: 8em; overflow: auto; }
   .positioned { color: white; background: green; position: absolute; top: 0; left: 0; width: 10em; }