table
            {
                border-collapse: collapse;
            }
            tr
            {
                border: 3px solid black;
            }
            td
            {
                height: 2em;
                width: 2em;
            }