table
            {
                border-collapse: collapse;
            }
            col
            {
                border: 5px solid black;
            }
            td
            {
                width: 2em;
                height: 2em;
            }