.control { display: inline; font: 1em/1 Ahem, sans-serif; background: red; color: white; }
   .test { border: solid blue; font: 1em/1 Ahem; background: yellow; color: orange; float: left; margin: 1em; }
   .normal { white-space: normal; }
   .nowrap { white-space: nowrap; }
   .pre { white-space: pre; }