#div1
            {
                width: 1in;
            }
            div div
            {
                background: red;
                height: 1in;
                min-width: -1%;
                width: 0;
            }