#div1
            {
                background: black;
                height: 1in;
                min-width: +6pc;
                width: 0;
            }
            #div2
            {
                border-left: 6pc solid black;
                height: 1in;
                margin-top: 10px;
            }