span
            {
                display: block;
                font: 16px/1em Ahem;
                text-align: justify;
                width: 20em;
                word-spacing: 3em;
            }