#test
            {
                border-right: 10px solid blue;
                display: table-caption;
                padding-right: 50px;
            }
            #test div
            {
                border-right: 10px solid orange;
                height: 200px;
                width: 0;
            }
            #table
            {
                display: table;
            }
            #row
            {
                display: table-row;
            }
            #cell
            {
                display: table-cell;
            }