div
            {
                height: 200px;
            }
            #div1
            {
                border-right: 10px solid blue;
                display: list-item;
                margin-left: 2em;
                padding-right: 50px;
                width: 10px;
            }
            div div
            {
                border-right: 10px solid orange;
            }