table
            {
                background: #ff0;
                border: solid black;
                empty-cells: hide;
            }
            tr.top
            {
                background: orange;
            }
            td
            {
                border: 2px solid black;
            }