div
            {
                line-height: 0;
            }
            #div1
            {
                border: solid black;
                height: 3in;
                position: relative;
                width: 2in;
            }
            img
            {
                margin-left: auto;
                margin-right: auto;
                position: absolute;
            }
            div div
            {
                background: orange;
                height: 1in;
                margin-top: 1in;
                width: 1in;
            }