div
            {
                height: 200px;
                direction: rtl;
            }
            #div1
            {
                border-right: 10px solid blue;
            }
            div div
            {
                border-right: 10px solid orange;
                display: list-item;
                margin-right: 50px;
            }