div, span
            {
                height: 200px;
            }
            div
            {
                border-right: 10px solid blue;
                width: 200px;
            }
            span
            {
                border-right: 10px solid orange;
                display: block;
                margin-right: 50px;
            }