div
            {
                direction: rtl;
            }
            #wrapper
            {
                border-right: 10px solid blue;
            }
            #wrapper, #test
            {
                height: 200px;
                width: 200px;
            }
            #test
            {
                border-right: 10px solid orange;
                display: table-caption;
                margin-right: 50px;
            }
            #table
            {
                border-collapse: collapse;
                display: table;
            }
            #row
            {
                display: table-row;
            }
            #cell
            {
                display: table-cell;
            }