#wrapper
            {
                border-right: 10px solid blue;
            }
            #wrapper, #cell
            {
                height: 200px;
                width: 200px;
            }
            #table
            {
                border-collapse: collapse;
                display: table;
                table-layout: fixed;
            }
            #test
            {
                display: table-footer-group;
                margin-right: 50px;
            }
            #row
            {
                display: table-row;
            }
            #cell
            {
                border-right: 10px solid orange;
                display: table-cell;
            }