div
            {
                font-size: medium;
            }
            span
            {
                font-family: Ahem;
            }
            #span1
            {
                font-size: large;
            }
            #span2
            {
                font-size: larger;
            }