div
            {
                font-size: 18px;
            }
            span
            {
                font-family: Ahem;
            }
            #span1
            {
                font-size: 27px;
            }
            #span2
            {
                font-size: 1.5em;
            }