.test { font: 10px/1 Ahem; width: 10em; border: solid black; padding: 0; background: yellow; color: orange; }
   .zero {background-color: teal; margin-bottom: 0;}
   .one {margin-bottom: 5.29166mm; background-color: aqua;}
   .two {margin-bottom: 20px; background-color: blue;}
   .three {margin-bottom: 2em; background-color: aqua;}
   .four {margin-bottom: 20%; background-color: teal;}
   .five {margin-bottom: 20px;}
   .six {margin-bottom: -10px; background-color: aqua;}
   p, ul, li {margin: 0; padding: 0; list-style:none;}

   .control { border: solid black; padding: 0; background: red; }
   .control .teal { background: teal; }
   .control .aqua { background: aqua; }
   .control .blue { background: blue; }
   .control .yellow { background: yellow; }
   .control .long { width: 70px; height: 10px; background: orange; }
   .control .short { width: 40px; height: 10px; background: orange; }
   .control .blank { width: 100px; height: 20px; }