table
            {
                background: green;
                empty-cells: hide;
            }
            td
            {
                background: red;
                color: green;
                height: 100px;
                visibility: hidden;
                width: 100px;
            }