div
            {
                background: green;
                left: 0;
                display: list-item;
                height: 1in;
                list-style-position: inside;
                position: absolute;
                width: 1in;
            }