#table
            {
                display: table;
                table-layout: fixed;
            }
            #row
            {
                display: table-row;
            }
            #cell
            {
                background: green;
                left: 0;
                display: table-cell;
                height: 1in;
                position: absolute;
                width: 1in;
            }