#table
            {
                display: table;
            }
            #row
            {
                display: table-row;
                text-transform: capitalize;
            }
            #cell
            {
                display: table-cell;
            }