#div1
            {
                font-family: Ahem;
                line-height: 1em;
                padding-left: 5em;
                width: 40em;
            }
            div div
            {
                text-indent: -5em;
            }
            #div2
            {
                background: blue;
                height: 1em;
                width: 5em;
            }