div div
            {
                display: none;
                width: 1in;
            }
            div
            {
                background: red;
                height: 1in;
                position: absolute;
            }