div
            {
                direction: rtl;
                height: 1in;
                position: relative;
            }
            #div1
            {
                border-right: 72pt solid red;
            }
            div div
            {
                border-right: 72pt solid black;
                margin-right: -144pt;
                right: 72pt;
            }