div
            {
                direction: rtl;
                height: 1in;
                position: relative;
            }
            #div1
            {
                border-right: 25.4mm solid red;
            }
            div div
            {
                border-right: 25.4mm solid black;
                margin-right: -50.8mm;
                right: +25.4mm;
            }