div
            {
                direction: rtl;
                height: 1in;
                position: relative;
            }
            #div1
            {
                border-right: 5px solid orange;
            }
            div div
            {
                border-right: 5px solid blue;
                right: 0mm;
            }