div
            {
                direction: rtl;
                height: 1in;
                position: relative;
            }
            #div1
            {
                border-right: 3px solid red;
            }
            div div
            {
                border-right: 3px solid black;
                margin-right: -99px;
                right: +96px;
            }