#table
            {
                background: blue;
                display: table;
                table-layout: fixed;
            }
            #caption
            {
                display: table-caption;
            }
            #row
            {
                display: table-row;
            }
            #cell
            {
                background: blue;
                caption-side: bottom;
                display: table-cell;
                height: 1in;
                width: 2in;
            }