#table
            {
                display: inline-table;
                table-layout: fixed;
                background-color: black;
            }
            #row
            {
                display: table-row;
            }
            #cell
            {
                display: table-cell;
                height: 1in;
                width: 1in;
            }