div {
            height: 120px;
            width: 80px;
            direction: rtl;
        }
        .outer {
            background: green;
            position: relative;
            left: -50%;
            right: -50%;
        }
        .inner {
            background: green;
            position: relative;
            left: inherit; /* using inheritance to test computed vs. used */
        }
        .control {
          background: red;
          margin-bottom: -120px;
          width: 120px;
        }