.table
            {
                background: black;
                border-collapse: collapse;
                display: table;
            }
            .column
            {
                border: 5px dotted green;
                display: table-column;
            }
            .tr
            {
                display: table-row;
            }
            .td
            {
                display: table-cell;
                height: 0.25in;
                width: 0.5in;
            }